
/*-------------   Color Variable  --------------*/

//Colors
	$white: #ffffff;
	$black: #000000;
	$gray:#ccc;
	$theme-color:#204998;
	$light-orange:#EC6608;
	$light-red:#C61A27;
	$light-green:#00C375;
	$light-yellow:#F7A600;
	$dark:#818181;
	$blue:#204998;

