* {
	box-sizing: border-box;
}

*,
html,
body {
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}

body {
	font-family: $font_1;
	font-weight: 400;
	font-size:1rem;
	color: #666;
	line-height: 1.6;
}



.color-brand {
	color: $theme-color !important;
}

img {
	max-width: 100%;
}

.carousel-item {
	height: calc(100vh - 100px);
	@media #{$xs} {
		height: auto;
	}
	.carousel-caption {
		bottom: 14rem;
		left: 11.3%;
		@media #{$xs} {
			bottom: 2rem;
		}
		h1 {
			text-align: left;
			color: #fff;
			font-size: 3rem;
			@media #{$xs} {
				font-size:1.75rem;
			}
		}
	}
	.image{
	figure{
		@media #{$xs} {
			padding-top:90%;
		}
	}
}
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	width: 32px;
	height: 32px;
}

.carousel-control-prev-icon {
	background-image: url(../img/svg/prev.svg);
}

.carousel-control-next-icon {
	background-image: url(../img/svg/next.svg);
}


.wrap {
	background: #fff;
	margin-bottom: 2rem;

	span {
		font-size: 0.85rem;
		// text-transform: uppercase;
		line-height: 12px;
	}

	.item {
		flex-basis: 100%;
		padding:2.25rem 1.75rem 2rem 2.25rem;
		@media #{$xs} {
			padding:1.25rem 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			h4{
				flex-basis: 100%;
			}
		}

	}
}

.info-section {
	position: absolute;
	bottom: -3.5rem;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1;
	@media #{$xs} {
        position: relative;
		bottom: 0;
    }
	
}
.banner-wrap {
	h4 {
		font-size: 1.15rem;
		font-weight: 500;
	}
}

.sector {
	.image {
		figure {
			position: relative;
			&:before {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				background: rgb(0, 0, 0);
				background: linear-gradient(195deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
				top: 0;
				left: 0;
				z-index: 2;
			}

			figcaption {
				color: #fff;
				z-index: 3;
				position: absolute;
				top:38%;
				left: 0;
				right:0;
				font-weight: 500;
				font-size: 1.25rem;
				padding-bottom:1rem;
				text-align: center;
				@media #{$xs} {
					font-size: 1rem;
				}
				&::before {
					content: '';
					width: 72px;
					height: 2px;
					background: $light-orange;
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					margin: 0 auto;
				}
				p{
					font-size: 14px;
					font-weight: 300;
					color: rgba(255, 255, 255, 0.7);
				}
			}

			img {
				opacity: 0.9;
			}
		}

		background: #000;
	}
}

.slick-slide {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

.data {
	font-weight: 300;
	font-size: 0.9rem;
	margin-top: 1rem;

	span {
		text-transform: uppercase;
		font-size: 0.6rem;
		padding-right: 10px;
		color: #999;
	}
}

footer {
	font-size: 0.85rem;
	color: #95B6F5;

	li {
		a {
			color: #95B6F5;
			background: url(../img/svg/bullets.svg) no-repeat left center;
			padding: 0.25rem 0.5rem;
			display: inline-block;

			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}
	}

	h5 {
		font-size: 1rem;
		color: #fff;
		font-weight: 500;
	}

	.down-footer {
		background: rgba(0, 0, 0, 0.1);
		font-size: 0.75rem;
	}
}

.email {
	color: #fff;
}

.modal-large {
	max-width: 100%;

	.modal-content {
		border-radius: 0;

		.modal-header {
			border-radius: 0;
		}
	}
}

.modal-dialog-full-width {
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	max-width: none !important;

}

.modal-content-full-width {
	height: auto !important;
	min-height: 100% !important;
	border-radius: 0 !important;
}

.modal-header-full-width {
	border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer-full-width {
	border-top: 1px solid #9ea2a2 !important;
}

.modal-header {
	border: none;

	.close {
		background: $light-yellow;
	}
}

.modal-content {
	border: 0;
	border-radius: 8px;
}

.modal-lg {
	max-width: 65%;
	@media #{$xs} {
		max-width:100%;
	}
}


.list-box {
	padding: 2.25rem;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.06);
	position: relative;
	margin: 15px 0;
	font-size: 0.85rem;
	@media #{$xs} {
		padding: 2rem;
		margin: 0.5rem 0;
	}
	// &:before {
	// 	height: 80px;
	// 	width: 3px;
	// 	content: '';
	// 	position: absolute;
	// 	left: 0;
	// 	top: 40px;
	// }
	.icon{
		width: 48px;
			height: 48px;
			border-radius: 50%;
			color: #fff;
			padding: 0.5rem;
			line-height: 48px;
			background: rgba(0, 0, 0, 0.1);
			display: inline-block;
			&.large{
				width:100px;
			height:100px;
			padding: 1rem;

			}
	}
	.tag{
		
			border-radius: 0.2rem;
			padding:1px 5px 0;
			font-size: 0.5rem;
			text-transform: uppercase;
			&.large{
				font-size: 0.85rem;
			}
			
	}
	h5 {
		font-size: 1rem;
	}


	&.suitable {
		// &:before {
		// 	background: $light-green;
		// }
		.bdr-bottom{
			border-bottom: solid 2px $light-green;
		}
		.icon {
		
			background: $light-green;
		}

		.tag {
			color: $light-green;
			border: solid 1px $light-green;
		}
	}
	&.onprogress{
		// &:before {
		// 	background: $light-orange;
		// }
		.icon{
			background: $light-orange;
		}
		.bdr-bottom{
			border-bottom: solid 2px $light-orange;
		}
		.tag{
			color: $light-orange;
			border: solid 1px $light-orange;
		}
	}
	&.not-suitable{
		// &:before {
		// 	background: $light-red;
		// }
		.icon{
			background: $light-red;
		}
		.bdr-bottom{
			border-bottom: solid 2px $light-red;
		}
		.tag{
			color: $light-red;
			border: solid 1px $light-red;
		}
	}
	&.no-data{
		// &:before {
		// 	background: $dark;
		// }
		.icon{
			background: $dark;
		}
		.bdr-bottom{
			border-bottom: solid 2px $dark;
		}
		.tag{
			color: $dark;
			border: solid 1px $dark;
		}
	}
}

.project-id{
	font-size: 11px;
	color: #ccc;
}

#button {
	display: inline-block;
	background-color: $light-orange;
	width: 48px;
	height: 48px;
	text-align: center;
	border-radius: 50%;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, 
	  opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
  }
  #button::after {
	content: "\e913";
	font-family: 'icomoon';
	font-weight: normal;
	font-style: normal;
	font-size:1.25rem;
	line-height: 50px;
	color: #fff;
  }
  #button:hover {
	cursor: pointer;
	background-color: $theme-color;
  }
  #button:active {
	background-color: $theme-color;
  }
  #button.show {
	opacity: 1;
	visibility: visible;
  }

.social-link{
	a{
		color:#95B6F5;
		&:hover{
			color:#fff;
			text-decoration: none;
		}
	}
}

.about{
	.mob-bdr-btm{
		@media #{$xs} {
			border-bottom: solid 1px #F5F5F5;
			padding: 1.25rem 0;
		}
	}
	h5{
		font-size: 1.15rem;
	}
	a{
		color: $light-orange;
		&:hover{
			color:$theme-color;
			text-decoration: none;
		}
	}
}

.desc{
	&.loggedout{
		border:solid 1px #ededed;
		text-align: center;
	}
}

.stages-wrap{
	position: relative;
	&:before{
		content:'';
		background:#E3E3E3;
		height: 100%;
		width: 1px;
		right:2.5rem;
		top: 0;
		bottom: 0;
		position: absolute;
		z-index:-1;
	}
	.stage{
		text-align: right;
		padding-right:3rem;
		line-height: 1.4;
		font-size: 0.8rem;
		&.completed{
			color:$light-green;
			span{
				background:$light-green;
			}
		}
		&.on-progress{
			color:$light-orange;
			span{
				background:$light-orange;
			}
		}
		
		span{
			width: 32px;
			height: 32px;
			border-radius: 50%;
			background:#666;
			display: inline-flex;
			text-align: center;
			color: #fff;
			margin-right: -1.5rem;
			justify-content: center;
			align-items:center;
		}
	}
}

.lt{
	.icon{
		@media #{$xs} {
			float: right;
			width: 5rem !important;
			height: 5rem !important;
			.icon-road{
				font-size: 3rem;
			}
		}	
	}
}