.form-control{
    &.large{
    padding:0.5rem 1rem !important;
    height: 44px;
    line-height: 44px;
    }
}

button,.btn{
    padding:0.45rem 1.75rem;
    &.large{
        height: 44px;
        padding:0.5rem 1.75rem;
    }
    &.small{
        font-size: 12px;
    }
}
.btn{
    &.responsive{
        @media #{$xs} {
            font-size: 0;
            width: 40px;
            height: 40px;
            padding: 0;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        i{
            display: none;
            @media #{$xs} {
                display: block;
                font-size:1.5rem;
            }
        }
    }
}
.btn-primary{
    background:$theme-color;
    border: $theme-color;
    &:hover{
        background: $light-yellow;
        border-color: $light-yellow;
    }
}
.btn-yellow{
    background:$light-yellow;
    border: $light-yellow;
    color: #fff;
}
.btn-outline-primary{
    border-color: $theme-color;
    color: $theme-color;
    &:hover{
        background: $theme-color;
        border-color: $theme-color;
    }
}

label{
    font-size: 0.85rem;
}