.logo {
    max-width: 140px;
    padding-right: 1.5rem;
}

nav {
    background: #fff;
    ul {
        li {
            a {
                color: #000;
                padding-right: 1rem !important;
                padding-left: 1rem !important;

                &:hover {
                    color: $theme-color;
                }
            }

            .dropdown-menu {
                a {
                    font-weight: 300;
                    font-size: 0.85rem;
                    padding: 0.75rem 1rem !important;
                }
            }
        }
    }
}

.dropdown-divider {
    margin: 0;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.user-image {
    width: 36px;
    height: 36px;
}

header {
    border-bottom: solid 1px #ededed;

}

.navbar-toggler{
    padding: 0.75rem;
}

.mod-mob {
    @media #{$xs} {
        justify-content: center !important;
        padding: 1rem;
    }
}

// .row {
//     @media #{$xs} {
//         margin-left: -20px;
//         margin-right: -20px;
//     }

//     [class*="col-"] {
//         @media #{$xs} {
//             padding-left: 20px;
//             padding-right: 20px;
//         }
//     }
// }
