@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?7hjwxr');
    src:  url('../fonts/icomoon.eot?7hjwxr#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?7hjwxr') format('truetype'),
      url('../fonts/icomoon.woff?7hjwxr') format('woff'),
      url('../fonts/icomoon.svg?7hjwxr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-fullscreen:before {
    content: "\e914";
  }
  .icon-layers:before {
    content: "\e915";
  }
  .icon-arrow:before {
    content: "\e900";
  }
  .icon-arrow-btn:before {
    content: "\e901";
  }
  .icon-bridge:before {
    content: "\e902";
  }
  .icon-bullets:before {
    content: "\e903";
  }
  .icon-data:before {
    content: "\e904";
  }
  .icon-email:before {
    content: "\e905";
  }
  .icon-facebook:before {
    content: "\e906";
  }
  .icon-farming:before {
    content: "\e907";
  }
  .icon-hydro:before {
    content: "\e908";
  }
  .icon-industry:before {
    content: "\e909";
  }
  .icon-map:before {
    content: "\e90a";
  }
  .icon-not-suitable:before {
    content: "\e90b";
  }
  .icon-onprogress:before {
    content: "\e90c";
  }
  .icon-phone:before {
    content: "\e90d";
  }
  .icon-road:before {
    content: "\e90e";
  }
  .icon-suitable:before {
    content: "\e90f";
  }
  .icon-tower:before {
    content: "\e910";
  }
  .icon-twitter:before {
    content: "\e911";
  }
  .icon-arrow-up:before {
    content: "\e913";
  }
  .icon-image:before {
    content: "\e912";
  }
  .icon-sphere:before {
    content: "\e9c9";
  }
  .icon-link:before {
    content: "\e9cb";
  }
  .icon-cancel-circle:before {
    content: "\ea0d";
  }
  .icon-loop:before {
    content: "\ea2e";
  }
  .icon-file-pdf:before {
    content: "\eadf";
  }
  .icon-file-word:before {
    content: "\eae1";
  }
  .icon-file-excel:before {
    content: "\eae2";
  }
  .icon-enlarge:before {
    content: "\e989";
  }
  
  .icon-64{
    font-size:64px;
}
  .icon-48{
      font-size: 48px;
  }

  .icon-32{
    font-size:32px;
}
.icon-28{
  font-size:28px;
}
.icon-22{
  font-size: 22px;
}
.icon-24{
    font-size: 24px;
}


.icon-16{
  font-size: 1rem;
}

.icon-12{
  font-size:12px;
}