/* Image Ratio Styles Ends */

.image {
    overflow: hidden;

    // margin-top: 0 !important;
    figure {
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
        padding-top: 66.66%;
        overflow: hidden;

        a {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            width: 100%;
            height: 100%;
            z-index: 1;

            img {
                width: 100%;
                object-fit: cover;
                object-position: center center;
                height: 100%;

                &.top_right_curve {
                    border-radius: 10px 10px 0 0;
                }
            }
        }
    }

    &-16-9 {
        figure {
            padding-top: 56.25%;
        }
    }
    &-1-1 {
        figure {
            padding-top: 100%;
        }
    }


    &-3-2 {
        figure {
            padding-top: 66.66%;
        }
    }
    &-q {
        figure {
            padding-top: 92%;
        }
    }
    &-z{
        figure {
            padding-top: 122%;
        }
    }
    &-w{
        figure {
            padding-top: 68.65%;
        }
    }
}

.image-sm-85 {
    width: 100%;
}

.image-sm-95 {
    width: 100%;
}

.img-size-85 {
    width: 100%;
}

.img-size-160 {
    width: 100%;
}
.shadow-out{
    box-shadow: 0 3px 20px rgba(0,0,0,0.075);
}
.circle{
    border-radius: 50%;
    overflow: hidden;
}