.box-lt {
    position: relative;
    border-radius:8px 0 0 8px;
    overflow: hidden;

    h1 {
        font-weight: 600;
        color: #fff;
    }

    p {
        color: #fff;
    }

    figcaption {
        position: absolute;
        padding: 3rem;
        z-index: 3;
        left: 0;
        top: 0;
    }

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(0, 0, 0);
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
        left: 0;
        top: 0;
        z-index: 2;
    }

}

.box-rt{
    padding: 3rem;
}