.map-wrap{
    position: relative;
    .layers{
        background: #fff;
        position: absolute;
        right:10px;
        top:10px;
        border-radius:4px;
        border:solid 2px rgba(0,0,0,0.2);
    }
    h2{
		@media #{$xs} {
			font-size: 1.75rem;
		}	
	}
	ul{
        margin-bottom: 0;
		li{
			span{
				padding:4px;
				color: #000;
                justify-content: center;
                align-items: center;
                display: flex;
                &.bdr-btm{
                    border-bottom: solid 1px #ccc;
                }
                &:hover{
                    background: #f4f4f4;
                }
			}
            ul{
                li{
                    font-size: 0.75rem;
                    display: flex;
                    align-items: center;
                    padding-left:0.8rem;
                }
            }
		}
	}
}


.dropleft .dropdown-toggle::before{
	display: none;
}
.mapFull{
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100vh;
}
.dropdown-menu{
    right: 0 !important;
}