.pagination{
    font-size: 0.8rem;
        li{
            font-size: 0.8rem; 
            a{
               color: $theme-color;
            } 
        }
    }
    .page-item.active .page-link{
        background-color: $theme-color;
    border-color:$theme-color;
    }