#responsiveTabsDemo{
    ul{
        border-bottom:solid 1px #E0E0E0;
        display: inline-flex;
       
        li{
            display: inline-block;
            a{
                padding: 1rem 1rem 1rem 0.65rem;
                font-size: 0.85rem;
                color: #363636;
                font-weight: 500;
                display: inline-block;
                background:url(../img/svg/bullets-black.svg) no-repeat left 22px;
                &:hover{
                    text-decoration: none;
                }
                
            }
            &.r-tabs-state-active{
                color:$light-yellow;
                border-bottom: solid 2px $light-yellow;
                a{
                    color:$light-yellow;
                    background:url(../img/svg/bullets.svg) no-repeat left 22px;
                }
            }
        }
    }
    .r-tabs{
        .r-tabs-panel{
            padding: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    #responsiveTabsDemo ul {
       display: none;
    }
   
}