a{
    color: $theme-color;
    transition: all 300ms ease-in-out;
    &:hover{
        text-decoration: none;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $black;
	line-height: 1.4;
	font-weight: 700;
}

h2{
    font-size: 2.25rem;
}
.bdr-right{
    border-right: solid 1px #F5F5F5;
    @media #{$xs} {
        border-bottom: solid 1px #F5F5F5;
        border-right: none;
    }
}
.bdr-top{
    border-top: solid 1px #F5F5F5;
}
.bg-orange{
    background: #EC6608;
    color:#fff;

    h4,h2{
        color:#fff;  
    }
}
.p-2-5{
    padding: 2.25rem;
    @media #{$xs} {
        padding: 0;
    }
}
.item {
    &.p-2-5{
        padding:2.25rem 2.25rem 1.75rem;
    }
}  
.custom-padding{
    padding:2.25rem 1.75rem 2rem 2.25rem;
}

.box-shadow{
	box-shadow: 0 3px 40px rgba(0,0,0,0.1);
    @media #{$xs} {
        box-shadow: none;
    }
}
.box-shadow-20{
	box-shadow: 0 3px 20px rgba(0,0,0,0.07);
}

.section-padding{
    padding:5.75rem 0;
    @media #{$xs} {
        padding:4rem 0;

    }
    h2{
        color:$theme-color;
        margin-bottom:1.5rem;
    }
}
.section-padding-bottom{
    padding-bottom:5.75rem;
    h2{
        color:$theme-color;
        margin-bottom:1.5rem;
    }
}

.f-18{
    font-size: 1rem;
}

.bg-image{
    background: url(../img/box-bg.png) no-repeat right top;
}
.bg-gray{
    background: #F5F7FA;
}
.bg-blue,footer{
    background: $theme-color;
}
.link-yellow{
    color: $light-yellow;
}
.color-theme{
    color:$theme-color;
}
.color-green{
    color:$light-green;
}
.color-red{
    color:$light-red;
}
.color-orange{
    color:$light-orange;
}
.color-dark{
    color:#000;
}
.color-white{
    color:#fff !important;
    &:hover{
        color:#444 !important;  
    }
}
small{
    font-size: 12px;
    font-weight: 300;
}
.f-small{
    font-size: 14px;
}
.f-smaller{
    font-size: 12px;
}

.f-500{
    font-weight: 500;
}

.bg-header{
    position: relative;
    color: #fff;
    background:rgba(0,0,0,0.4);
    &:before{
        background: url(https://images.pexels.com/photos/1554646/pexels-photo-1554646.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center top;
        background-attachment: fixed;
        background-size: cover;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;   
    }
    h2{
        color: #fff;
        font-size:3rem;
    }
}

.bg-header-tech{
    position: relative;
    color: #fff;
    background:rgba(0,0,0,0.4);
    &:before{
        background: url(https://images.pexels.com/photos/3608056/pexels-photo-3608056.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center bottom;
        background-attachment: fixed;
        background-size: cover;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;   
    }
    h2{
        color: #fff;
        font-size:3rem;
    }
}

.no-box-shadow{
    box-shadow: none;
}

.relative{
    position: relative !important;
}

.line-height-20{
    line-height: 20px;
}