@import 'color';

// Font Family
    $font_1 :'DM Sans', sans-serif;  //Heading Font
    $heading :$font_1;    //Body Font , Menu
    //$font_3 :'Great Vibes', cursive;        //special Style Font
    $heading_color2:$theme-color;
    $white_color:#fff;


/*------------------- Responsive --------------------------*/

$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg :'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 575px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';

// Extra Responsive

$medium_device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767px)';
$tab: '(max-width: 991px)';
$tab2: '(max-width: 1199px)';
$small_mobile:'(max-width: 576px)';
$xs_mobile:'(max-width: 360px)';
$sm_mobile:'only screen and (min-width: 421px) and (max-width: 575px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1440px)';
$big_screen2:'only screen and (min-width: 1200px) and (max-width: 1300px)';
$big_screen3:'only screen and (min-width: 1441px) and (max-width: 1500px)';
$big_screen4:'only screen and (min-width: 1501px) and (max-width: 1750px)';
$extra_big_screen: 'only screen and (min-width: 1200px) and (max-width: 3640px)';


// More Extra Responsive
$large_device_2:'(min-width: 1501px) and (max-width: 1700px)';
$large_device:'(min-width: 1200px) and (max-width: 1500px)';
$mid_device:'(min-width: 992px) and (max-width: 1200px)';
$tablet_device:'(min-width: 768px) and (max-width: 991px)';
$mobile_device:'(max-width: 767px)';
$large_mobile:'only screen and (min-width: 480px) and (max-width: 767px)';

// Custom
$large1:'only screen and (min-width: 1200px) and (max-width: 1300px)';
$large2:'only screen and (min-width: 1601px) and (max-width: 1800px)';