
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
// Defult
	@import 'variables';
	@import 'common';
	@import 'header';
	@import 'color';
	@import 'typography';
	@import 'login';
	@import 'image';
	@import 'imagebox';
	@import 'form';
	@import 'slick';
	@import 'slick-theme';
	@import 'responsivetab';
	@import 'iconfont';
	@import 'pagi';
	@import 'maps';
	

	
	
