@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
}
*,
html,
body {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}
body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}
.color-brand {
  color: #204998 !important;
}
img {
  max-width: 100%;
}
.carousel-item {
  height: calc(100vh - 100px);
}
@media (max-width: 575px) {
  .carousel-item {
    height: auto;
  }
}
.carousel-item .carousel-caption {
  bottom: 14rem;
  left: 11.3%;
}
@media (max-width: 575px) {
  .carousel-item .carousel-caption {
    bottom: 2rem;
  }
}
.carousel-item .carousel-caption h1 {
  text-align: left;
  color: #fff;
  font-size: 3rem;
}
@media (max-width: 575px) {
  .carousel-item .carousel-caption h1 {
    font-size: 1.75rem;
  }
}
@media (max-width: 575px) {
  .carousel-item .image figure {
    padding-top: 90%;
  }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 32px;
  height: 32px;
}
.carousel-control-prev-icon {
  background-image: url(../img/svg/prev.svg);
}
.carousel-control-next-icon {
  background-image: url(../img/svg/next.svg);
}
.wrap {
  background: #fff;
  margin-bottom: 2rem;
}
.wrap span {
  font-size: 0.85rem;
  line-height: 12px;
}
.wrap .item {
  flex-basis: 100%;
  padding: 2.25rem 1.75rem 2rem 2.25rem;
}
@media (max-width: 575px) {
  .wrap .item {
    padding: 1.25rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .wrap .item h4 {
    flex-basis: 100%;
  }
}
.info-section {
  position: absolute;
  bottom: -3.5rem;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}
@media (max-width: 575px) {
  .info-section {
    position: relative;
    bottom: 0;
  }
}
.banner-wrap h4 {
  font-size: 1.15rem;
  font-weight: 500;
}
.sector .image {
  background: #000;
}
.sector .image figure {
  position: relative;
}
.sector .image figure:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000;
  background: linear-gradient(195deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  top: 0;
  left: 0;
  z-index: 2;
}
.sector .image figure figcaption {
  color: #fff;
  z-index: 3;
  position: absolute;
  top: 38%;
  left: 0;
  right: 0;
  font-weight: 500;
  font-size: 1.25rem;
  padding-bottom: 1rem;
  text-align: center;
}
@media (max-width: 575px) {
  .sector .image figure figcaption {
    font-size: 1rem;
  }
}
.sector .image figure figcaption::before {
  content: "";
  width: 72px;
  height: 2px;
  background: #ec6608;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.sector .image figure figcaption p {
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}
.sector .image figure img {
  opacity: 0.9;
}
.slick-slide {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.data {
  font-weight: 300;
  font-size: 0.9rem;
  margin-top: 1rem;
}
.data span {
  text-transform: uppercase;
  font-size: 0.6rem;
  padding-right: 10px;
  color: #999;
}
footer {
  font-size: 0.85rem;
  color: #95b6f5;
}
footer li a {
  color: #95b6f5;
  background: url(../img/svg/bullets.svg) no-repeat left center;
  padding: 0.25rem 0.5rem;
  display: inline-block;
}
footer li a:hover {
  color: #fff;
  text-decoration: none;
}
footer h5 {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
}
footer .down-footer {
  background: rgba(0, 0, 0, 0.1);
  font-size: 0.75rem;
}
.email {
  color: #fff;
}
.modal-large {
  max-width: 100%;
}
.modal-large .modal-content {
  border-radius: 0;
}
.modal-large .modal-content .modal-header {
  border-radius: 0;
}
.modal-dialog-full-width {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
}
.modal-content-full-width {
  height: auto !important;
  min-height: 100% !important;
  border-radius: 0 !important;
}
.modal-header-full-width {
  border-bottom: 1px solid #9ea2a2 !important;
}
.modal-footer-full-width {
  border-top: 1px solid #9ea2a2 !important;
}
.modal-header {
  border: none;
}
.modal-header .close {
  background: #f7a600;
}
.modal-content {
  border: 0;
  border-radius: 8px;
}
.modal-lg {
  max-width: 65%;
}
@media (max-width: 575px) {
  .modal-lg {
    max-width: 100%;
  }
}
.list-box {
  padding: 2.25rem;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.06);
  position: relative;
  margin: 15px 0;
  font-size: 0.85rem;
}
@media (max-width: 575px) {
  .list-box {
    padding: 2rem;
    margin: 0.5rem 0;
  }
}
.list-box .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #fff;
  padding: 0.5rem;
  line-height: 48px;
  background: rgba(0, 0, 0, 0.1);
  display: inline-block;
}
.list-box .icon.large {
  width: 100px;
  height: 100px;
  padding: 1rem;
}
.list-box .tag {
  border-radius: 0.2rem;
  padding: 1px 5px 0;
  font-size: 0.5rem;
  text-transform: uppercase;
}
.list-box .tag.large {
  font-size: 0.85rem;
}
.list-box h5 {
  font-size: 1rem;
}
.list-box.suitable .bdr-bottom {
  border-bottom: solid 2px #00c375;
}
.list-box.suitable .icon {
  background: #00c375;
}
.list-box.suitable .tag {
  color: #00c375;
  border: solid 1px #00c375;
}
.list-box.onprogress .icon {
  background: #ec6608;
}
.list-box.onprogress .bdr-bottom {
  border-bottom: solid 2px #ec6608;
}
.list-box.onprogress .tag {
  color: #ec6608;
  border: solid 1px #ec6608;
}
.list-box.not-suitable .icon {
  background: #c61a27;
}
.list-box.not-suitable .bdr-bottom {
  border-bottom: solid 2px #c61a27;
}
.list-box.not-suitable .tag {
  color: #c61a27;
  border: solid 1px #c61a27;
}
.list-box.no-data .icon {
  background: #818181;
}
.list-box.no-data .bdr-bottom {
  border-bottom: solid 2px #818181;
}
.list-box.no-data .tag {
  color: #818181;
  border: solid 1px #818181;
}
.project-id {
  font-size: 11px;
  color: #ccc;
}
#button {
  display: inline-block;
  background-color: #ec6608;
  width: 48px;
  height: 48px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\e913";
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #204998;
}
#button:active {
  background-color: #204998;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
.social-link a {
  color: #95b6f5;
}
.social-link a:hover {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 575px) {
  .about .mob-bdr-btm {
    border-bottom: solid 1px #f5f5f5;
    padding: 1.25rem 0;
  }
}
.about h5 {
  font-size: 1.15rem;
}
.about a {
  color: #ec6608;
}
.about a:hover {
  color: #204998;
  text-decoration: none;
}
.desc.loggedout {
  border: solid 1px #ededed;
  text-align: center;
}
.stages-wrap {
  position: relative;
}
.stages-wrap:before {
  content: "";
  background: #e3e3e3;
  height: 100%;
  width: 1px;
  right: 2.5rem;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}
.stages-wrap .stage {
  text-align: right;
  padding-right: 3rem;
  line-height: 1.4;
  font-size: 0.8rem;
}
.stages-wrap .stage.completed {
  color: #00c375;
}
.stages-wrap .stage.completed span {
  background: #00c375;
}
.stages-wrap .stage.on-progress {
  color: #ec6608;
}
.stages-wrap .stage.on-progress span {
  background: #ec6608;
}
.stages-wrap .stage span {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #666;
  display: inline-flex;
  text-align: center;
  color: #fff;
  margin-right: -1.5rem;
  justify-content: center;
  align-items: center;
}
@media (max-width: 575px) {
  .lt .icon {
    float: right;
    width: 5rem !important;
    height: 5rem !important;
  }
  .lt .icon .icon-road {
    font-size: 3rem;
  }
}
.logo {
  max-width: 140px;
  padding-right: 1.5rem;
}
nav {
  background: #fff;
}
nav ul li a {
  color: #000;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
nav ul li a:hover {
  color: #204998;
}
nav ul li .dropdown-menu a {
  font-weight: 300;
  font-size: 0.85rem;
  padding: 0.75rem 1rem !important;
}
.dropdown-divider {
  margin: 0;
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
.user-image {
  width: 36px;
  height: 36px;
}
header {
  border-bottom: solid 1px #ededed;
}
.navbar-toggler {
  padding: 0.75rem;
}
@media (max-width: 575px) {
  .mod-mob {
    justify-content: center !important;
    padding: 1rem;
  }
}
a {
  color: #204998;
  transition: all 300ms ease-in-out;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  line-height: 1.4;
  font-weight: 700;
}
h2 {
  font-size: 2.25rem;
}
.bdr-right {
  border-right: solid 1px #f5f5f5;
}
@media (max-width: 575px) {
  .bdr-right {
    border-bottom: solid 1px #f5f5f5;
    border-right: none;
  }
}
.bdr-top {
  border-top: solid 1px #f5f5f5;
}
.bg-orange {
  background: #ec6608;
  color: #fff;
}
.bg-orange h4,
.bg-orange h2 {
  color: #fff;
}
.p-2-5 {
  padding: 2.25rem;
}
@media (max-width: 575px) {
  .p-2-5 {
    padding: 0;
  }
}
.item.p-2-5 {
  padding: 2.25rem 2.25rem 1.75rem;
}
.custom-padding {
  padding: 2.25rem 1.75rem 2rem 2.25rem;
}
.box-shadow {
  box-shadow: 0 3px 40px rgba(0, 0, 0, 0.1);
}
@media (max-width: 575px) {
  .box-shadow {
    box-shadow: none;
  }
}
.box-shadow-20 {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.07);
}
.section-padding {
  padding: 5.75rem 0;
}
@media (max-width: 575px) {
  .section-padding {
    padding: 4rem 0;
  }
}
.section-padding h2 {
  color: #204998;
  margin-bottom: 1.5rem;
}
.section-padding-bottom {
  padding-bottom: 5.75rem;
}
.section-padding-bottom h2 {
  color: #204998;
  margin-bottom: 1.5rem;
}
.f-18 {
  font-size: 1rem;
}
.bg-image {
  background: url(../img/box-bg.png) no-repeat right top;
}
.bg-gray {
  background: #f5f7fa;
}
.bg-blue,
footer {
  background: #204998;
}
.link-yellow {
  color: #f7a600;
}
.color-theme {
  color: #204998;
}
.color-green {
  color: #00c375;
}
.color-red {
  color: #c61a27;
}
.color-orange {
  color: #ec6608;
}
.color-dark {
  color: #000;
}
.color-white {
  color: #fff !important;
}
.color-white:hover {
  color: #444 !important;
}
small {
  font-size: 12px;
  font-weight: 300;
}
.f-small {
  font-size: 14px;
}
.f-smaller {
  font-size: 12px;
}
.f-500 {
  font-weight: 500;
}
.bg-header {
  position: relative;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}
.bg-header:before {
  background: url(https://images.pexels.com/photos/1554646/pexels-photo-1554646.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
    no-repeat center top;
  background-attachment: fixed;
  background-size: cover;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.bg-header h2 {
  color: #fff;
  font-size: 3rem;
}
.bg-header-tech {
  position: relative;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}
.bg-header-tech:before {
  background: url(https://images.pexels.com/photos/3608056/pexels-photo-3608056.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
    no-repeat center bottom;
  background-attachment: fixed;
  background-size: cover;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.bg-header-tech h2 {
  color: #fff;
  font-size: 3rem;
}
.no-box-shadow {
  box-shadow: none;
}
.relative {
  position: relative !important;
}
.line-height-20 {
  line-height: 20px;
}
.box-lt {
  position: relative;
  border-radius: 8px 0 0 8px;
  overflow: hidden;
}
.box-lt h1 {
  font-weight: 600;
  color: #fff;
}
.box-lt p {
  color: #fff;
}
.box-lt figcaption {
  position: absolute;
  padding: 3rem;
  z-index: 3;
  left: 0;
  top: 0;
}
.box-lt:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  left: 0;
  top: 0;
  z-index: 2;
}
.box-rt {
  padding: 3rem;
}
.image {
  overflow: hidden;
}
.image figure {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  padding-top: 66.66%;
  overflow: hidden;
}
.image figure a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.image figure a img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
  height: 100%;
}
.image figure a img.top_right_curve {
  border-radius: 10px 10px 0 0;
}
.image-16-9 figure {
  padding-top: 56.25%;
}
.image-1-1 figure {
  padding-top: 100%;
}
.image-3-2 figure {
  padding-top: 66.66%;
}
.image-q figure {
  padding-top: 92%;
}
.image-z figure {
  padding-top: 122%;
}
.image-w figure {
  padding-top: 68.65%;
}
.image-sm-85 {
  width: 100%;
}
.image-sm-95 {
  width: 100%;
}
.img-size-85 {
  width: 100%;
}
.img-size-160 {
  width: 100%;
}
.shadow-out {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.075);
}
.circle {
  border-radius: 50%;
  overflow: hidden;
}
body.imagebox {
  overflow: hidden;
}
img[data-imagebox] {
  cursor: pointer;
}
#imagebox {
  z-index: 99992;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.87);
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}
#imagebox * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#imagebox .ib-loading {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  animation: ibLoading 1s linear infinite;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #555;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
#imagebox .ib-content {
  z-index: 99994;
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 100%;
}
#imagebox .ib-content .ib-topbar {
  z-index: 99996;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#imagebox .ib-content .ib-topbar .ib-indexes {
  color: #a8a8a8;
  font-size: 1em;
  align-items: center;
  padding: 10px;
  width: 100%;
}
#imagebox .ib-content .ib-topbar .ib-buttons {
  display: flex;
  justify-content: flex-end;
  flex-flow: row nowrap;
  width: 100%;
}
#imagebox .ib-content .ib-topbar .ib-buttons .ib-button {
  width: 41px;
  height: 41px;
  background: #858585 no-repeat center center;
  background-size: 21px 21px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  text-align: center;
}
#imagebox .ib-content .ib-topbar .ib-buttons .ib-button:hover {
  background-color: #a8a8a8;
}
#imagebox .ib-content .ib-topbar .ib-buttons .ib-button.ib-close {
  background-image: url(../img/svg/cancel.svg);
  right: 0;
}
#imagebox .ib-content .ib-image-wrapper {
  opacity: 0;
  z-index: 99995;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.6s;
  width: fit-content;
}
#imagebox .ib-content .ib-image-wrapper img.ib-image {
  z-index: 99995;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
  min-width: 48px;
  min-height: 48px;
  object-fit: contain;
  transition: ease-in-out 0.6s;
  display: block;
}
#imagebox .ib-content .ib-image-wrapper img.ib-hidden {
  opacity: 0;
}
#imagebox .ib-content .ib-image-wrapper img.ibFadeOut {
  animation: ibFadeOut 0.6s forwards;
}
#imagebox .ib-content .ib-image-wrapper img.ibFadeIn {
  animation: ibFadeIn 0.6s forwards;
}
#imagebox .ib-content .ib-control div {
  z-index: 99996;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: #858585;
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 32px 20px;
  cursor: pointer;
  transition: ease-in-out 0.4s;
}
#imagebox .ib-content .ib-control div[disabled] {
  cursor: default;
  background-color: #3d3d3d;
  box-shadow: none;
  pointer-events: none;
}
#imagebox .ib-content .ib-control .ib-control-left {
  left: 0;
  border-radius: 0 3px 3px 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAHlBMVEUAAAD///////////////////////////////////8kfJuVAAAACXRSTlMAFRqzwcvM0tm5QgwQAAAAK0lEQVR4AWMYtoCJlRm/PAcnCwF5dsZhLM/ABpKnSAETxwhTwUI4yQ0zAAD12gHrZ1kh5AAAAABJRU5ErkJggg==);
  box-shadow: 2px 0 16px rgba(0, 0, 0, 0.5);
}
#imagebox .ib-content .ib-control .ib-control-right {
  right: 0;
  border-radius: 3px 0 0 3px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAHlBMVEUAAAD///////////////////////////////////8kfJuVAAAACXRSTlMAFhq+w8bM1dlMuAVXAAAAKklEQVR4AWMYdoCZlRG/AjZOdvwqmDhGmAoWchUgrBie8ogEQzDJDVMAAPJZAelGeIG8AAAAAElFTkSuQmCC);
  box-shadow: -2px 0 16px rgba(0, 0, 0, 0.5);
}
#imagebox .ib-content .ib-caption {
  z-index: 99996;
  position: fixed;
  bottom: 0;
  display: none;
  padding: 60px;
  color: #fff;
  font-size: 1.2em;
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), #222);
}
#imagebox .ib-content .ib-caption.location::before {
  z-index: 99996;
  position: fixed;
  content: "";
  width: 1.2em;
  height: 1.2em;
  margin-left: -28px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAB+UlEQVRYhcWWPUscURSGzwSjIJqoiPEDrVQMpBFtFFKZIoLC2thZi41NersUJr9BEUwVCKRQBMUVhAgWgVSSRkUWFPwOARWNPCm8gWF3zuy5O7PmLe/c8z7PZXeYG4hHgCYRyYjIiIj0iEiLe3QkIj9FZElEvgZBcOzTawHXAx+Ba4rnGvgA1KcF7wdyBnB+ckBfUvgb46m1XAFDpcK7gYsE8H85B7pKEdgqUnwAbADb7qRx+eYLH4sp2wFe5+2vBmaA25i5jI9AVin5AlTFzPUCv5XZdSu8AbiLKDjE8GoBk4rAnWVegGGlYMp0goeOHaXjbf7eJxHzbUrvmlVARLLKekF3lECDMnzmIXCirNdZBC6U4RZlPSqtynrOIlCwyWXUQgYqRKTgt3bZsxTUEv0+/wLaDfMzyh/wBqi1HEKAFaVkE2iMmRtR5AEWTXBXNKSUABwDE0B1aH8nMB8zAzBgFnCly0UKb3n4HpwW2Qew4gV3Ai/caZPmBGj2FnASmRQExkqChyTmEsAXEsGdQA2wWwJ8H3iWWMBJDAJ/POD35N0Z0pB47yEwmyrcCTwFvhvgP4DK1AWcxEvi7383wKuywEMS0zEC78oKdwIBsBoBzwJB2QWcRCtwFoJfAh2PAg9JjIcEJh4VHpL4BHz+L3An8BzQ7pCm/AXwpqsk2iQyUAAAAABJRU5ErkJggg==);
  background-size: 1.2em 1.2em;
}
@keyframes ibLoading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@media screen and (max-width: 720px) {
  #imagebox .ib-content .ib-description {
    padding: 45px;
  }
}
@keyframes ibFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes ibFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.form-control.large {
  padding: 0.5rem 1rem !important;
  height: 44px;
  line-height: 44px;
}
button,
.btn {
  padding: 0.45rem 1.75rem;
}
button.large,
.btn.large {
  height: 44px;
  padding: 0.5rem 1.75rem;
}
button.small,
.btn.small {
  font-size: 12px;
}
@media (max-width: 575px) {
  .btn.responsive {
    font-size: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.btn.responsive i {
  display: none;
}
@media (max-width: 575px) {
  .btn.responsive i {
    display: block;
    font-size: 1.5rem;
  }
}
.btn-primary {
  background: #204998;
  border: #204998;
}
.btn-primary:hover {
  background: #f7a600;
  border-color: #f7a600;
}
.btn-yellow {
  background: #f7a600;
  border: #f7a600;
  color: #fff;
}
.btn-outline-primary {
  border-color: #204998;
  color: #204998;
}
.btn-outline-primary:hover {
  background: #204998;
  border-color: #204998;
}
label {
  font-size: 0.85rem;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-loading .slick-list {
  background: #fff url("./../img/ajax-loader.gif") center center no-repeat;
}
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"),
    url("../fonts/slick.woff") format("woff"),
    url("../fonts/slick.ttf") format("truetype"),
    url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 24px;
  width: 24px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 24px;
  line-height: 1;
  color: #ec6608;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}
.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: #000;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: #000;
  opacity: 0.75;
}
#responsiveTabsDemo ul {
  border-bottom: solid 1px #e0e0e0;
  display: inline-flex;
}
#responsiveTabsDemo ul li {
  display: inline-block;
}
#responsiveTabsDemo ul li a {
  padding: 1rem 1rem 1rem 0.65rem;
  font-size: 0.85rem;
  color: #363636;
  font-weight: 500;
  display: inline-block;
  background: url(../img/svg/bullets-black.svg) no-repeat left 22px;
}
#responsiveTabsDemo ul li a:hover {
  text-decoration: none;
}
#responsiveTabsDemo ul li.r-tabs-state-active {
  color: #f7a600;
  border-bottom: solid 2px #f7a600;
}
#responsiveTabsDemo ul li.r-tabs-state-active a {
  color: #f7a600;
  background: url(../img/svg/bullets.svg) no-repeat left 22px;
}
#responsiveTabsDemo .r-tabs .r-tabs-panel {
  padding: 0;
}
@media screen and (max-width: 768px) {
  #responsiveTabsDemo ul {
    display: none;
  }
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?7hjwxr");
  src: url("../fonts/icomoon.eot?7hjwxr#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?7hjwxr") format("truetype"),
    url("../fonts/icomoon.woff?7hjwxr") format("woff"),
    url("../fonts/icomoon.svg?7hjwxr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fullscreen:before {
  content: "\e914";
}
.icon-layers:before {
  content: "\e915";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-arrow-btn:before {
  content: "\e901";
}
.icon-bridge:before {
  content: "\e902";
}
.icon-bullets:before {
  content: "\e903";
}
.icon-data:before {
  content: "\e904";
}
.icon-email:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-farming:before {
  content: "\e907";
}
.icon-hydro:before {
  content: "\e908";
}
.icon-industry:before {
  content: "\e909";
}
.icon-map:before {
  content: "\e90a";
}
.icon-not-suitable:before {
  content: "\e90b";
}
.icon-onprogress:before {
  content: "\e90c";
}
.icon-phone:before {
  content: "\e90d";
}
.icon-road:before {
  content: "\e90e";
}
.icon-suitable:before {
  content: "\e90f";
}
.icon-tower:before {
  content: "\e910";
}
.icon-twitter:before {
  content: "\e911";
}
.icon-arrow-up:before {
  content: "\e913";
}
.icon-image:before {
  content: "\e912";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-loop:before {
  content: "\ea2e";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-word:before {
  content: "\eae1";
}
.icon-file-excel:before {
  content: "\eae2";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-64 {
  font-size: 64px;
}
.icon-48 {
  font-size: 48px;
}
.icon-32 {
  font-size: 32px;
}
.icon-28 {
  font-size: 28px;
}
.icon-22 {
  font-size: 22px;
}
.icon-24 {
  font-size: 24px;
}
.icon-16 {
  font-size: 1rem;
}
.icon-12 {
  font-size: 12px;
}
.pagination {
  font-size: 0.8rem;
}
.pagination li {
  font-size: 0.8rem;
}
.pagination li a {
  color: #204998;
}
.page-item.active .page-link {
  background-color: #204998;
  border-color: #204998;
}
.map-wrap {
  position: relative;
}
.map-wrap .layers {
  background: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 4px;
  border: solid 2px rgba(0, 0, 0, 0.2);
}
@media (max-width: 575px) {
  .map-wrap h2 {
    font-size: 1.75rem;
  }
}
.map-wrap ul {
  margin-bottom: 0;
}
.map-wrap ul li span {
  padding: 4px;
  color: #000;
  justify-content: center;
  align-items: center;
  display: flex;
}
.map-wrap ul li span.bdr-btm {
  border-bottom: solid 1px #ccc;
}
.map-wrap ul li span:hover {
  background: #f4f4f4;
}
.map-wrap ul li ul li {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  padding-left: 0.8rem;
}
.dropleft .dropdown-toggle::before {
  display: none;
}
.mapFull {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100vh;
}
.dropdown-menu {
  right: 0 !important;
}
/*# sourceMappingURL=gib.css.map */
