<template>
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="suitable list-box p-0 no-box-shadow my-0 pr-md-2 pr-0">
            <div class="d-md-flex mt-2">
              <div class="lt">
                <span class="icon text-center large">
                  <i class="icon-road icon-64"></i>
                </span>
                <div class="stages-wrap mt-5 d-none d-md-block">
                  <div class="stage pb-3 completed">
                    <span>1</span>
                    <p>Stage 1 Completed</p>
                  </div>
                  <div class="stage pb-3 on-progress">
                    <span>2</span>
                    <p>Stage 2 Onprogress</p>
                  </div>
                  <div class="stage pb-3">
                    <span>3</span>
                    <p>Stage 3 Yet to start</p>
                  </div>
                </div>
              </div>
              <div class="rt pl-md-4 pl-0 pt-3 pt-md-0">
                <div>
                  <span class="tag large">Suitable</span>
                </div>
                <span> <strong>Project ID:</strong> #746464 </span>
                <h3 class="mb-0">Jind NH - 71 Road Upgradation Project</h3>
                <span class="small">Last updated : 10th July 2021</span>

                <div class="sectors my-2 pt-4">
                  <strong>Sector</strong>
                  <span class="d-block">Transport</span>
                </div>
                <div class="subsectors mb-2">
                  <strong>Sub Sector</strong>
                  <span class="d-block">Road & Bridges</span>
                </div>

                <div class="address mb-2">
                  <address>
                    <strong>Address</strong><br />
                    81 A, West View Bldg, 10, Khetwadi Lane <br />
                    Mumbai, Maharashtra <br />
                    India<br />
                  </address>
                </div>
                <div class="status">
                  <h6 class="bdr-bottom pb-2">Why Suitable for Investment ?</h6>
                  <div class="d-flex justify-content-between">
                    <div class="protected-area mb-2">
                      <strong>Protected Area</strong>
                      <span class="d-block">No</span>
                    </div>
                    <div class="Envio-area mb-2">
                      <strong>Environmental Damages</strong>
                      <span class="d-block">No</span>
                    </div>
                  </div>
                  <div class="desc mb-2 loggedin">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Labore magnam fuga, animi sit modi, quam repellat vitae non
                    placeat odit sunt ullam, blanditiis adipisci. Cumque quasi
                    maxime qui quod quis?
                  </div>
                  <div class="desc mb-2 loggedout p-4">
                    <p>Please Login to view the data</p>
                    <button class="btn btn-outline-warning">Login</button>
                  </div>
                  <div class="reference">
                    <strong>References</strong>
                    <span class="d-block">
                      <a href="">https://gib-foundation.org</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 pt-5 pt-md-0">
          <div class="map-wrap">
            <div class="layers">
              <div class="dropleft float-right">
                <ul class="list-unstyled">
                  <li>
                    <span
                      class="dropdown-toggle bdr-btm"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="icon-layers icon-22"></i>
                    </span>
                    <div class="dropdown-menu">
                      <ul class="list-unstyled">
                        <li>
                          <input type="checkbox" name="" id="" class="mr-1" />
                          Filter One
                        </li>
                        <li>
                          <input type="checkbox" name="" id="" class="mr-1" />
                          Filter two
                        </li>
                        <li>
                          <input type="checkbox" name="" id="" class="mr-1" />
                          Filter three
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <span class="fullscreen">
                      <i class="icon-fullscreen icon-22"></i>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <iframe
              width="100%"
              height="480px"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              src="https://www.openstreetmap.org/export/embed.html?bbox=79.47578430175783%2C25.463734473969566%2C80.05256652832033%2C25.849954832367334&amp;layer=mapnik&amp;marker=25.657000971157412%2C79.76417541503906"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
