<template>
  <section>
    <RwvPageCrumb
      :title="'Project List'"
      :desc="'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae deserunt itaque repellat eveniet esse, doloremque corrupti'"
    ></RwvPageCrumb>

    <section class="section-padding-bottom pt-5">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-3 pr-0 pr-md-2">
            <input type="text" class="form-control" placeholder="Search" />
          </div>
          <div class="col">
            <div class="form-group pr-md-2 pr-0">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Select the sector</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group pr-md-2 pr-0">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Select the state</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group pr-md-2 pr-0">
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Project Status</option>
                <option>Suitable to invest</option>
                <option>Evalation Stage</option>
                <option>Not Suitable to invest</option>
                <option>No proper Data</option>
              </select>
            </div>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-yellow w-100">Search</button>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="fiter-status d-flex align-items-center">
              <h6 class="mb-0">All projects</h6>
              <!-- <i class="icon-bullets icon-12"></i>
                        Energy <i class="icon-cancel-circle icon-16"></i>  <i class="icon-bullets icon-12"></i>Hydropower</h6>  -->
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-md-4" v-for="(item, index) in data" :key="index">
            <RwvCard
              :project-id="item.project_id"
              :transport="item.transport"
              :project-cost="item.project_cost"
              :project-name="item.project_name"
              :address="item.address"
              :tag="item.tag"
              :tag-class="item.tag_class"
              :icon="item.icon"
              v-on:openlink="openLink_"
            ></RwvCard>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <RwvPagination></RwvPagination>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
import RwvPageCrumb from "@/components/PageCrumb.vue";
import RwvPagination from "@/components/Pagination.vue";
import RwvCard from "@/components/Card.vue";
export default {
  components: {
    RwvPageCrumb,
    RwvPagination,
    RwvCard
  },
  data() {
    return {
      data: [
        {
          id: 1,
          project_id: "746464",
          project_name: "Jind NH - 71 Road Upgradation Project",
          address:
            "81 A, West View Bldg, 10, Khetwadi Lane Mumbai, Maharashtra  India",
          curreny: "USD",
          project_cost: "86.o6 millions",
          icon: "icon-road",
          tag: "Suitable",
          tag_class: "suitable",
          transport: "Road & Bridges"
        },
        {
          id: 1,
          project_id: "3434452",
          project_name: "Jind NH - 71 Road Upgradation Project",
          address:
            "81 A, West View Bldg, 10, Khetwadi Lane Mumbai, Maharashtra  India",
          curreny: "USD",
          project_cost: "86.o6 millions",
          icon: "icon-road",
          tag: "ON PROGRESS",
          tag_class: "onprogress",
          transport: "Road & Bridges"
        },
        {
          id: 1,
          project_id: "3434452",
          project_name: "Jind NH - 71 Road Upgradation Project",
          address:
            "81 A, West View Bldg, 10, Khetwadi Lane Mumbai, Maharashtra  India",
          curreny: "USD",
          project_cost: "86.o6 millions",
          icon: "icon-road",
          tag: "Not Suitable",
          tag_class: "not-suitable",
          transport: "Road & Bridges"
        },
        {
          id: 1,
          project_id: "74646412",
          project_name: "Jind NH - 71 Road Upgradation Project",
          address:
            "81 A, West View Bldg, 10, Khetwadi Lane Mumbai, Maharashtra  India",
          curreny: "USD",
          project_cost: "86.o6 millions",
          icon: "icon-road",
          tag: "Not Suitable",
          tag_class: "not-suitable",
          transport: "Road & Bridges"
        },
        {
          id: 1,
          project_id: "34344523",
          project_name: "Jind NH - 71 Road Upgradation Project",
          address:
            "81 A, West View Bldg, 10, Khetwadi Lane Mumbai, Maharashtra  India",
          curreny: "USD",
          project_cost: "86.o6 millions",
          icon: "icon-bridge",
          tag: "Suitable",
          tag_class: "suitable",
          transport: "Road & Bridges"
        },
        {
          id: 1,
          project_id: "34344521",
          project_name: "Jind NH - 71 Road Upgradation Project",
          address:
            "81 A, West View Bldg, 10, Khetwadi Lane Mumbai, Maharashtra  India",
          curreny: "USD",
          project_cost: "86.o6 millions",
          icon: "icon-bridge",
          tag: "INSUFFICIENT DATA",
          tag_class: "no-data",
          transport: "Road & Bridges"
        }
      ]
    };
  },
  methods: {
    openLink_(projectId) {
      this.$router.push({
        name: "project.details.page",
        params: { project_id: projectId }
      });
    }
  }
};
</script>

