/* eslint-disable no-undef */
<template>
  <div
    class="modal fade right"
    id="popbox"
    tabindex="-1"
    role="dialog"
    aria-labelledby="popboxLabel"
    aria-hidden="true"
    @input="openTab()"
  >
    <div
      class="modal-dialog-full-width modal-dialog momodel modal-fluid"
      role="document"
    >
      <div class="modal-content-full-width modal-content">
        <div class="modal-header">
          <a href="" class="close" data-dismiss="modal" aria-label="Close">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="19.414"
              height="19.414"
              viewBox="0 0 19.414 19.414"
            >
              <g data-name="Group 119" transform="translate(-31.793 -35.793)">
                <line
                  data-name="Line 20"
                  y1="18"
                  x2="18"
                  transform="translate(32.5 36.5)"
                  fill="none"
                  stroke="#000"
                  stroke-width="2"
                />
                <line
                  data-name="Line 21"
                  x1="18"
                  y1="18"
                  transform="translate(32.5 36.5)"
                  fill="none"
                  stroke="#000"
                  stroke-width="2"
                />
                <line
                  data-name="Line 22"
                  y1="8"
                  x2="8"
                  transform="translate(37.5 41.5)"
                  fill="none"
                  stroke="#f7a704"
                  stroke-width="1"
                />
                <line
                  data-name="Line 23"
                  x2="8"
                  y2="8"
                  transform="translate(37.5 41.5)"
                  fill="none"
                  stroke="#f7a704"
                  stroke-width="1"
                />
              </g>
            </svg>
          </a>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col">
                <div id="responsiveTabsDemo">
                  <ul>
                    <li class="nav-tabs">
                      <a href="#tab-1">What can this too do for you ?</a>
                    </li>
                    <li class="nav-tabs">
                      <a href="#tab-2"
                        >Driving investment in sustainable infrastructure</a
                      >
                    </li>
                    <li class="nav-tabs">
                      <a href="#tab-3">Sustainable investment</a>
                    </li>
                    <li class="nav-tabs">
                      <a href="#tab-4"
                        >Assessment methodology and limitations</a
                      >
                    </li>
                    <li class="nav-tabs">
                      <a href="#tab-5">Barriers to sustainable investment</a>
                    </li>
                    <li class="nav-tabs">
                      <a href="#tab-6">The opportunity on the project </a>
                    </li>
                    <li class="nav-tabs">
                      <a href="#tab-7">Development of a prototype </a>
                    </li>
                  </ul>
                  <div id="tab-1" class="px-0 py-5">
                    <h2>Benefits of this project</h2>
                    <p class="pr-5">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Accusamus assumenda veritatis iste aliquid asperiores
                      iure! Esse, ratione. Atque voluptas ea a! Porro eveniet
                      quo repudiandae debitis saepe beatae labore laborum.
                    </p>
                    <dl class="row">
                      <dt class="col-sm-3">Description lists</dt>
                      <dd class="col-sm-9">
                        A description list is perfect for defining terms.
                      </dd>
                      <dt class="col-sm-3">Euismod</dt>
                      <dd class="col-sm-9">
                        <p>
                          Vestibulum id ligula porta felis euismod semper eget
                          lacinia odio sem nec elit.
                        </p>
                        <p>Donec id elit non mi porta gravida at eget metus.</p>
                      </dd>

                      <dt class="col-sm-3">Malesuada porta</dt>
                      <dd class="col-sm-9">
                        Etiam porta sem malesuada magna mollis euismod.
                      </dd>

                      <dt class="col-sm-3 text-truncate">
                        Truncated term is truncated
                      </dt>
                      <dd class="col-sm-9">
                        Fusce dapibus, tellus ac cursus commodo, tortor mauris
                        condimentum nibh, ut fermentum massa justo sit amet
                        risus.
                      </dd>
                    </dl>
                  </div>
                  <div id="tab-2" class="px-0 py-5">
                    <div class="row no-gutters">
                      <div class="col">
                        <h2>Sustainable investment</h2>
                        <p class="pr-5">
                          SDG 9 recognizes the critical need to build resilient
                          and sustainable infrastructure. A record high
                          investment of 7 trillion USD per year is required to
                          meet basic needs. Unfortunately, sustainability
                          characteristics of projects are highly complex,
                          context-specific and often inaccessible to investors
                          without a large investment of time and expertise. With
                          sustainability certification in the sector only just
                          starting, it is very difficult for investors across
                          the world to identify and invest in SDG-aligned
                          projects.
                        </p>
                      </div>
                      <div class="col">
                        <div class="image image-w pl-5">
                          <figure>
                            <a href="">
                              <img
                                src="https://www.isealalliance.org/sites/default/files/pexels-avinash-patel-804686.jpg"
                                alt=""
                              />
                            </a>
                          </figure>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="tab-3" class="px-0">
                    <div class="row no-gutters py-5">
                      <div class="col">
                        <h2>Mobilizing additional private capital</h2>
                        <p class="pr-5">
                          In fact, the private sector itself is turning a
                          corner, in word if not yet in deed. The giants of
                          global wealth management, private equity, and
                          institutional investment view green and social
                          investments as essential, both for reducing global
                          risks and for capturing sustainable returns. The
                          challenge is to direct more of it to emerging markets
                          and poor countries.
                        </p>
                      </div>
                      <div class="col">
                        <div class="image image-w pl-5">
                          <figure>
                            <a href="">
                              <img
                                src="https://images.ctfassets.net/4cgqlwde6qy0/5yHrZbkPiF4JMNXy47R8nI/99863d043ae98f9fce21d16182216aae/scaffolding-1617969_1280.jpg"
                                alt=""
                              />
                            </a>
                          </figure>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="tab-4" class="px-0">
                    <div class="row py-5">
                      <div class="col">
                        <h2>Regarding the Project</h2>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit. Suscipit excepturi provident blanditiis
                          aspernatur nobis nostrum delectus quo, nesciunt quae,
                          omnis qui! Accusamus et, nulla numquam totam officia
                          soluta expedita sed?
                        </p>
                      </div>
                    </div>
                  </div>

                  <div id="tab-5" class="px-0">
                    <div class="row no-gutters py-5">
                      <div class="col">
                        <h2>Barriers to sustainable investment</h2>
                        <p class="pr-5">
                          SDG 9 recognizes the critical need to build resilient
                          and sustainable infrastructure. A record high
                          investment of 7 trillion USD per year is required to
                          meet basic needs. Unfortunately, sustainability
                          characteristics of projects are highly complex,
                          context-specific and often inaccessible to investors
                          without a large investment of time and expertise. With
                          sustainability certification in the sector only just
                          starting, it is very difficult for investors across
                          the world to identify and invest in SDG-aligned
                          projects.
                        </p>
                      </div>
                      <div class="col">
                        <div class="image image-w pl-5">
                          <figure>
                            <a href="">
                              <img
                                src="https://www.isealalliance.org/sites/default/files/pexels-avinash-patel-804686.jpg"
                                alt=""
                              />
                            </a>
                          </figure>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="tab-6" class="px-0">
                    <div class="row no-gutters py-5">
                      <div class="col">
                        <h2>The opportunity</h2>
                        <p class="pr-5">
                          Certification is not the only way that sustainability
                          systems in the sector can help accelerate investment
                          towards sustainable projects. A recent collaboration
                          between the four leading infrastructure sustainability
                          standards established the
                          <a
                            href="https://gib-foundation.org/sustainable-infrastructure-standards-collaboration/?utm_source=rss&utm_medium=rss&utm_campaign=sustainable-infrastructure-standards-collaboration"
                            target="_blank"
                          >
                            Aligned Indicators for Sustainable Infrastructure
                            (AISI) </a
                          >aimed at mobilizing additional private capital
                          towards more sustainable projects in emerging markets
                          and developing economies. GIB has identified the huge
                          opportunity in combining this framework and artificial
                          intelligence (AI) to completely automate the
                          assessment of a large volume of potential projects.
                        </p>
                      </div>
                      <div class="col">
                        <div class="image image-w pl-5">
                          <figure>
                            <a href="">
                              <img
                                src="https://www.isealalliance.org/sites/default/files/pexels-enric-cruz-l%C3%B3pez-9989658%281%29_0.jpg"
                                alt=""
                              />
                            </a>
                          </figure>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="tab-7" class="px-0">
                    <div class="row py-5">
                      <div class="col">
                        <h2>Development of a prototype</h2>
                        <p class="pr-5">
                          GIB and its partner will build the first prototype of
                          such a tool using a variety of AI techniques coupled
                          with the high-performance computational capabilities
                          and big satellite data repository of the Google Earth
                          Engine platform. The web-based prototype will have
                          predictive and descriptive functions and will provide
                          a traffic light evaluation of infrastructure projects,
                          aligned with the SDGs. For the prototype, the project
                          will focus on India, a country where current levels of
                          infrastructure provision lag chronically behind but
                          that plans to invest 2 trillion USD in infrastructure
                          projects over the next 4 years.
                        </p>
                      </div>
                      <div class="col">
                        <div class="image image-w pl-5">
                          <figure>
                            <a href="">
                              <img
                                src="https://www.isealalliance.org/sites/default/files/pexels-darshak-pandya-2526935.jpg"
                                alt=""
                              />
                            </a>
                          </figure>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["getInfomationTabName"])
  },

  mounted() {
    // eslint-disable-next-line no-undef
    $("#responsiveTabsDemo").responsiveTabs({
      startCollapsed: "accordion"
    });
    // eslint-disable-next-line no-undef
    var that = this;
    // eslint-disable-next-line no-undef
    $("#popbox").on("shown.bs.modal", function () {
      // eslint-disable-next-line no-undef
      $('.nav-tabs a[href="#' + that.getInfomationTabName + '"]').trigger(
        "click"
      );
    });
    // this.openTab();
  },
  methods: {}
};
</script>
