<template>
  <router-link :to="{ name: 'home.page' }">
    <div class="box-shadow">
      <div
        class="
          custom-padding
          d-flex
          justify-content-between
          align-items-center
          mob-bdr-btm
        "
      >
        <h5 class="f-500 mb-0" v-html="title"></h5>
        <i class="icon-arrow icon-28"></i>
      </div>
      <div class="image image-16-9 d-md-block d-none">
        <figure>
          <router-link :to="{ name: 'home.page' }">
            <img :src="image" alt="" />
          </router-link>
        </figure>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: "Write Something here"
    },
    image: {
      type: String,
      default: ""
    }
  }
};
</script>
