<template>
  <section class="section-padding about">
    <div class="container">
      <div class="row">
        <div class="col-md-9 mb-4 mx-auto">
          <h2 class="text-center">About</h2>
          <p class="text-center">
            The Infrastructure Sustainability Intelligence tool is a system that
            uses a variety of AI techniques coupled with the high-performance
            computational capabilities and big satellite data repository of the
            Google Earth Engine platform that gathers and assesses information
            on planned infrastructure projects to assess the likely
            sustainability of these assets.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" v-for="(item, index) in data" :key="index">
          <InAboutCard :title="item.title" :image="item.image"></InAboutCard>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center mt-4">
          <router-link :to="{ name: 'home.page' }">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="4"
              height="6"
              viewBox="0 0 3 4.648"
            >
              <path
                data-name="Icon awesome-angle-right"
                d="M4.638,9.318,2.663,11.292a.347.347,0,0,1-.492,0l-.328-.328a.347.347,0,0,1,0-.492l1.4-1.4-1.4-1.4a.347.347,0,0,1,0-.492l.327-.331a.347.347,0,0,1,.492,0L4.637,8.824A.348.348,0,0,1,4.638,9.318Z"
                transform="translate(-1.74 -6.746)"
                fill="#f7a600"
              />
            </svg>
            explore
          </router-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import InAboutCard from "@/components/About/Card.vue";
export default {
  components: {
    InAboutCard
  },
  data() {
    return {
      data: [
        {
          title: "What can this too do <br> for you ?",
          image:
            "https://images.pexels.com/photos/7095765/pexels-photo-7095765.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260",
          link: ""
        },
        {
          title: "Sustainable  <br> investment",
          image:
            "https://images.pexels.com/photos/110818/pexels-photo-110818.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260",
          link: ""
        },
        {
          title: "Mobilizing and private <br>capital</h5>",
          image:
            "https://images.pexels.com/photos/8386435/pexels-photo-8386435.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260",
          link: ""
        }
      ]
    };
  }
};
</script>
