<template>
  <section>
    <RwvHomeBanner></RwvHomeBanner>
    <RwvAbout></RwvAbout>
    <RwvMap></RwvMap>
    <RwvSector></RwvSector>
  </section>
</template>

<script>
import RwvHomeBanner from "@/components/HomeBanner.vue";
import RwvAbout from "@/components/About/Index.vue";
import RwvMap from "@/components/Map/Index.vue";
import RwvSector from "@/components/Sector.vue";
export default {
  components: {
    RwvHomeBanner,
    RwvAbout,
    RwvMap,
    RwvSector
  },
  mounted() {}
};
</script>
