<template>
  <div class="list-box" :class="tagClass">
    <div class="d-flex justify-content-between mb-1 project-id">
      <span> <strong>Project ID:</strong> #{{ projectId }} </span>
      <span class="tag">{{ tag }}</span>
    </div>
    <div class="title d-flex align-items-center">
      <h5>{{ projectName }}</h5>
      <span class="icon text-center">
        <i :class="icon" class="icon-32"></i>
      </span>
    </div>
    <div class="d-flex align-items-center mb-3">
      <span>Transport </span>
      <i class="icon-bullets"></i>
      <span> {{ transport }}</span>
    </div>
    <div class="address mb-2">
      <address>
        <strong>Address</strong><br />
        {{ address }}
      </address>
    </div>

    <div class="cost mb-3">
      <strong>Project Cost</strong>
      <span class="d-block">{{ curreny }} {{ projectCost }}</span>
    </div>
    <a
      class="btn btn-outline-primary small"
      href="javascript:void();"
      @click="openLink(projectId)"
    >
      <i class="icon-arrow"></i>
      View Details
    </a>
  </div>
</template>


<script>
export default {
  props: {
    projectId: {
      type: String,
      default: "0000"
    },
    projectName: {
      type: String,
      default: "Project Name"
    },
    curreny: {
      type: String,
      default: "USD"
    },
    address: {
      type: String,
      default: "Address Here"
    },
    icon: {
      type: String,
      default: "icon-road"
    },

    tag: {
      type: String,
      default: "Suitable"
    },

    tagClass: {
      type: String,
      default: "suitable"
    },
    projectCost: {
      type: String,
      default: "0000"
    },
    transport: {
      type: String,
      default: "Road & Bridges"
    }
  },
  methods: {
    openLink(projectId) {
      this.$emit("openlink", projectId);
    }
  }
};
</script>
