<template>
  <section class="banner-wrap">
    <RwInformationModal></RwInformationModal>
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="image image-16-9">
            <figure>
              <a href="">
                <img src="img/slider/slide1.jpg" alt="First slide" />
              </a>
            </figure>
          </div>
          <div class="carousel-caption text-left">
            <h1>
              Infrastructure Sustainability
              <br />
              Intelligence Tool
            </h1>
            <p>
              Using machine learning to assess the infrastructure of tomorrow
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="image image-16-9">
            <figure>
              <a href="">
                <img src="img/slider/slide2.jpg" alt="First slide" />
              </a>
            </figure>
          </div>
          <div class="carousel-caption">
            <h1>
              To be a farmer is to be a student forever,
              <br />
              for each day brings something new.
            </h1>
          </div>
        </div>
        <div class="carousel-item">
          <div class="image image-16-9">
            <figure>
              <a href="">
                <img src="img/slider/slide3.jpg" alt="First slide" />
              </a>
            </figure>
          </div>
          <div class="carousel-caption">
            <h1>
              Using machine learning to
              <br />
              accelerate investment in sustainable
              <br />
              infrastructure
            </h1>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="info-section">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-12">
            <div class="d-md-flex justify-content-between box-shadow wrap">
              <div class="bdr-right item">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="48px"
                  height="48px"
                  viewBox="0 0 49.778 48"
                >
                  <g
                    id="_3790064_concept_creation_creative_idea_imagine_icon"
                    data-name="3790064_concept_creation_creative_idea_imagine_icon"
                    transform="translate(-5.805 -2.105)"
                  >
                    <path
                      id="Path_25"
                      data-name="Path 25"
                      d="M37.487,37.924A1.919,1.919,0,0,0,35.573,36H27.915a1.924,1.924,0,0,0,0,3.848h7.658A1.919,1.919,0,0,0,37.487,37.924Z"
                      transform="translate(-1.05 -1.287)"
                      fill="#204998"
                    />
                    <path
                      id="Path_26"
                      data-name="Path 26"
                      d="M34.977,41H28.6a1.958,1.958,0,0,0,0,3.848h6.382a1.958,1.958,0,0,0,0-3.848Z"
                      transform="translate(-1.093 -1.477)"
                      fill="#204998"
                    />
                    <rect
                      id="Rectangle_31"
                      data-name="Rectangle 31"
                      width="1.915"
                      height="4.81"
                      transform="translate(29.737 45.295)"
                      fill="#204998"
                    />
                    <rect
                      id="Rectangle_32"
                      data-name="Rectangle 32"
                      width="1.915"
                      height="2.886"
                      transform="translate(33.566 45.295)"
                      fill="#204998"
                    />
                    <rect
                      id="Rectangle_33"
                      data-name="Rectangle 33"
                      width="1.915"
                      height="2.886"
                      transform="translate(25.907 45.295)"
                      fill="#204998"
                    />
                    <path
                      id="Path_29"
                      data-name="Path 29"
                      d="M.013,0,1.935,0,1.922,6.428,0,6.432Z"
                      transform="matrix(0.447, -0.894, 0.894, 0.447, 10.154, 3.836)"
                      fill="#204998"
                    />
                    <path
                      id="Path_30"
                      data-name="Path 30"
                      d="M0,.01,6.428,0l0,1.922L0,1.932Z"
                      transform="matrix(0.949, -0.316, 0.316, 0.949, 44.396, 4.509)"
                      fill="#204998"
                    />
                    <rect
                      id="Rectangle_36"
                      data-name="Rectangle 36"
                      width="6.701"
                      height="1.924"
                      transform="translate(5.805 14.51)"
                      fill="#204998"
                    />
                    <rect
                      id="Rectangle_37"
                      data-name="Rectangle 37"
                      width="6.701"
                      height="1.924"
                      transform="translate(48.882 14.51)"
                      fill="#204998"
                    />
                    <path
                      id="Path_31"
                      data-name="Path 31"
                      d="M0,.013,6.432,0l0,1.922L0,1.935Z"
                      transform="matrix(0.894, -0.447, 0.447, 0.894, 9.197, 29.995)"
                      fill="#204998"
                    />
                    <path
                      id="Path_32"
                      data-name="Path 32"
                      d="M.013,0,1.935,0,1.922,6.428,0,6.432Z"
                      transform="matrix(0.447, -0.894, 0.894, 0.447, 45.573, 28.849)"
                      fill="#204998"
                    />
                    <path
                      id="Path_28"
                      data-name="Path 28"
                      d="M25.615,30.658,26.85,33.91h9.017L37.1,30.658a14.372,14.372,0,1,0-11.487,0Zm6.7-7.738a.964.964,0,0,1,.281-.68l4.786-4.81,1.354,1.36-4.506,4.528v9.222H32.316Zm-6.981-5.49,4.786,4.81a.964.964,0,0,1,.28.68v9.62H28.487V23.319l-4.506-4.528Z"
                      transform="translate(-0.665 -0.034)"
                      fill="#204998"
                    />
                  </g>
                </svg>
                <h4 class="mt-md-3 mt-0 pl-md-0 pl-3 mb-0">
                  <a
                    href="javascript:void();"
                    @click="openInformationModal('tab-1')"
                    class="
                      color-dark
                      f-500
                      d-flex
                      justify-content-between
                      align-items-center
                    "
                  >
                    What can this too do for you ?
                    <i class="icon-arrow icon-28 color-orange"></i
                  ></a>
                </h4>
              </div>
              <div class="bdr-right item">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="48px"
                  height="48px"
                  viewBox="0 0 48 37"
                >
                  <g transform="translate(-1775.956 -101.554)">
                    <path
                      d="M1823.3,118.447a3.908,3.908,0,0,0-3.837.235c-3.551,2.27-7.081,4.572-10.616,6.866a6.836,6.836,0,0,1-3.454,1.155c-2.383.11-4.762-.019-7.141-.138-.268-.014-.676.07-.681-.332-.006-.468.419-.365.718-.362,1.807.015,3.614.035,4.891.14,2.573.076,4.5-.248,6.065-1.721a1.676,1.676,0,0,0-.123-2.752,3.361,3.361,0,0,0-2.131-.661,16.963,16.963,0,0,1-5.834-.547,26.491,26.491,0,0,0-3.7-1.281c-4.011-.807-7.595-.147-10.474,3a14.573,14.573,0,0,1-3.7,3.129c-.472.257-.394.472-.1.832q2.557,3.181,5.071,6.4a.731.731,0,0,0,1.063.209,9.007,9.007,0,0,1,4.172-.963q5.772.185,11.542.442a11.748,11.748,0,0,0,8.423-2.6c3.536-2.994,6.769-6.324,10.163-9.477A.892.892,0,0,0,1823.3,118.447Z"
                      transform="translate(0 -0.344)"
                      fill="#204998"
                    />
                    <path
                      d="M1781.548,125.189c-.179-.224-.365-.458-.689-.417a.932.932,0,0,0-.6.21c-1.327.886-2.646,1.784-3.989,2.645-.451.289-.365.545-.1.879q4.085,5.118,8.161,10.241c.237.3.4.408.736.086,1.179-1.15,2.383-2.276,3.585-3.4a.782.782,0,0,0,.079-1.225Q1785.132,129.706,1781.548,125.189Z"
                      transform="translate(0 -0.474)"
                      fill="#204998"
                    />
                    <path
                      d="M1793.222,102.909a11.84,11.84,0,0,1,1.56,1.761,24.472,24.472,0,0,1,2.116,4.635,4.673,4.673,0,0,0,5.748,2.732c.652-.208.727-.455.372-1.037a20.591,20.591,0,0,0-4.5-5.7c-.218-.173-.4-.392-.159-.661.22-.247.418-.059.613.083a11.224,11.224,0,0,1,1.86,1.8,31.816,31.816,0,0,1,3.17,4.692,2.558,2.558,0,0,0,1-1.84,6.4,6.4,0,0,0-2.731-6.449c-2.844-1.911-5.907-1.576-8.969-.5C1792.8,102.6,1792.956,102.643,1793.222,102.909Z"
                      fill="#204998"
                    />
                    <path
                      d="M1810.7,109.873a11.446,11.446,0,0,0-2.678,3.354c-.1.178-.226.4-.482.317-.6-.187-.706.28-.891.641a7.826,7.826,0,0,1-.747,1.613,32.371,32.371,0,0,0-1.474-3.767c-.142-.29-.272-.732-.721-.493-.385.2-.155.54-.017.822a31.362,31.362,0,0,1,1.719,4.631c.19.616-.027.777-.559.884a12.414,12.414,0,0,1-2.267.191,8.953,8.953,0,0,0-3.383.655,16.724,16.724,0,0,0,3.211,1.177,28.22,28.22,0,0,0,5.013.283,3.057,3.057,0,0,1,3.183,2.805c.048.442.178.414.471.222.963-.631,1.928-1.262,2.9-1.881,1.265-.806,1.27-.974.021-1.856a2.315,2.315,0,0,0-.326-.218,22.462,22.462,0,0,0-6.537-1.819c-.636-.093-.733-.173-.547-.761a23.644,23.644,0,0,1,.94-2.492c.13-.294.242-.415.637-.32a2.769,2.769,0,0,0,3.5-1.967,8.965,8.965,0,0,1,1.926-3.47c.5-.5.413-.56-.17-.56-1,0-1.942-.461-2.945-.313-2.588.382-4.17,2.32-3.813,4.668.048.32.052.776.429.844.3.053.378-.381.523-.608a12.831,12.831,0,0,1,2.526-3.089c.21-.175.455-.345.687-.093C1811.016,109.481,1810.912,109.7,1810.7,109.873Z"
                      transform="translate(0 -0.131)"
                      fill="#204998"
                    />
                    <path
                      d="M1815.461,119.924c.181.238.367.206.6.051,1.17-.762,2.35-1.509,3.54-2.269-.17-.209-.361-.134-.531-.135-1.485.082-2.477,1.13-3.623,1.874C1815.249,119.576,1815.342,119.768,1815.461,119.924Z"
                      transform="translate(0 -0.217)"
                      fill="#204998"
                    />
                    <path
                      d="M1814.907,118.914a5.236,5.236,0,0,0,1.121-.893c-.641-.209-1.037.151-1.474.333-.185.077-.461.142-.249.422C1814.443,118.958,1814.651,119.121,1814.907,118.914Z"
                      transform="translate(0 -0.214)"
                      fill="#204998"
                    />
                  </g>
                </svg>

                <h4 class="mt-md-3 mt-0 pl-md-0 pl-3 mb-0">
                  <a
                    href="javascript:void();"
                    @click="openInformationModal('tab-2')"
                    class="
                      color-dark
                      f-500
                      d-flex
                      justify-content-between
                      align-items-center
                    "
                  >
                    Driving investment in sustainable infrastructure
                    <i class="icon-arrow icon-28 color-orange"></i>
                  </a>
                </h4>
              </div>
              <div class="item">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="43.43"
                  height="48"
                  viewBox="0 0 43.43 48"
                >
                  <path
                    id="Union_1"
                    data-name="Union 1"
                    d="M-3604.757,47.914a26.777,26.777,0,0,1,9.8-2.853c-.778-1.856-2.111-5.069-2.8-6.907-.149-.15-.3-.336-.486-.524l-1.16-1.16c-.225-.224-.486-.449-.748-.711-.262-.224-.524-.486-.823-.748s-.6-.524-.936-.786a3.957,3.957,0,0,0-.412-.336c-1.945,1.2-5.723,2.955-9.576,1.609-4.525-1.571-7.93-6.92-10.1-15.935a41.42,41.42,0,0,0,9.315,1.5,11.954,11.954,0,0,1,11.446,11.259c-.037-.037-4.488-2.618-4.639-2.356a.036.036,0,0,0-.037.037c.448.262.9.524,1.309.786.86.524,1.683,1.085,2.431,1.609.375.262.748.524,1.085.786.374.261.673.524,1.01.785.3.262.6.524.9.749.112.112.225.187.336.3a45.876,45.876,0,0,1-1.908-11.858,5.023,5.023,0,0,1,0-.748c0-.262.037-.561.037-.9,0-.3.037-.636.075-1.01a9.171,9.171,0,0,1,.075-.973,9.5,9.5,0,0,1-3.815-6.7c-.15-4.04,2.918-8.342,9.165-12.83a35.775,35.775,0,0,0,1.721,7.743,10.137,10.137,0,0,1-5.013,12.344c-.224-2.394.935-9.95.861-9.95a35.4,35.4,0,0,0-1.534,9.389c0,.374-.038.749-.038,1.085a8.862,8.862,0,0,0-.037.973v.823a4.326,4.326,0,0,0,.037.711c.038.786,0,4.9,4.115,16.234a19.272,19.272,0,0,1,.674-2.618,17.046,17.046,0,0,1,.823-1.983,11.931,11.931,0,0,1,6.321-13.578c2.993-1.571,6.322-3.553,7.93-5.162,1.646,9.09.711,15.374-2.843,18.666-3.367,3.216-8.342,2.656-10.25,2.319a29.361,29.361,0,0,1,3.628-7.519c.037-.112-.075-.149-.149-.037-.524.711-1.048,1.346-1.533,2.057a19.48,19.48,0,0,0-1.646,2.806,15.687,15.687,0,0,0-1.122,2.806,14.047,14.047,0,0,0-.523,2.618,10.8,10.8,0,0,0,0,2.206c.037.337.112.636.149.936.287.668.573,1.364.86,2.041a30.372,30.372,0,0,1,8.315.873c7.7,1.9-3.57,2.218-12.143,2.218C-3601.046,48-3604.757,47.914-3604.757,47.914Z"
                    transform="translate(3622)"
                    fill="#204998"
                  />
                </svg>
                <h4 class="mt-md-3 mt-0 pl-md-0 pl-3 mb-0">
                  <a
                    href="javascript:void();"
                    @click="openInformationModal('tab-4')"
                    class="
                      color-dark
                      f-500
                      d-flex
                      justify-content-between
                      align-items-center
                    "
                  >
                    Assessment methodology and limitations
                    <i class="icon-arrow icon-28 color-orange"></i>
                  </a>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="item bg-orange p-2-5 box-shadow mx-5 mx-md-0">
              <div class="d-flex justify-content-between">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="48"
                  height="48"
                  viewBox="0 0 48 48"
                >
                  <g
                    id="_7704640_chart_data_evaluate_planning_module_icon"
                    data-name="7704640_chart_data_evaluate_planning_module_icon"
                    transform="translate(-37.22 -35.43)"
                  >
                    <path
                      id="Path_15"
                      data-name="Path 15"
                      d="M263.717,184.765a15.43,15.43,0,0,0-.11-1.811c-.007-.055-.018-.109-.025-.164-.07.007-.143.008-.219.015-.233.024-.461.061-.69.1-.267.041-.533.083-.8.137-.227.047-.451.109-.675.161-.256.064-.51.132-.761.209-.219.069-.439.145-.658.223-.244.088-.486.178-.724.277-.213.089-.422.184-.63.282-.234.109-.463.223-.69.343q-.3.162-.6.335c-.163.1-.324.2-.483.3H263.7C263.7,185.034,263.717,184.9,263.717,184.765Z"
                      transform="translate(-195.37 -131.326)"
                      fill="#fff"
                    />
                    <path
                      id="Path_16"
                      data-name="Path 16"
                      d="M212.073,256.051c.11-.189.225-.376.329-.57.124-.233.234-.481.343-.725.089-.192.183-.381.264-.577H201.96c-.093.161-.191.318-.278.482-.125.236-.235.478-.344.722-.091.2-.188.388-.27.589-.022.052-.037.109-.058.158h11.015Z"
                      transform="translate(-145.824 -194.949)"
                      fill="#fff"
                    />
                    <path
                      id="Path_17"
                      data-name="Path 17"
                      d="M51.594,68.73a18.235,18.235,0,0,1-.11-1.923,17.52,17.52,0,0,1,.09-1.755c.019-.2.058-.384.083-.578.05-.38.1-.762.174-1.133.045-.226.11-.445.162-.668.08-.332.158-.665.257-.989.07-.233.157-.459.237-.688.11-.3.211-.609.329-.906.1-.232.2-.456.308-.682.131-.283.261-.566.406-.842.118-.224.247-.442.374-.66.155-.264.309-.528.476-.784.139-.218.287-.421.439-.629.175-.247.354-.492.543-.73.158-.2.329-.395.49-.589.2-.23.4-.455.607-.675.177-.186.358-.367.542-.544.219-.21.439-.416.668-.615.192-.169.386-.333.586-.494.237-.191.48-.374.728-.555.206-.149.412-.3.624-.435.257-.171.52-.332.786-.49.219-.129.439-.258.658-.379.276-.149.559-.285.844-.42.227-.109.451-.218.682-.316.294-.125.6-.234.9-.344.234-.085.465-.174.7-.25.316-.1.638-.182.962-.264.234-.06.464-.127.7-.178.343-.074.694-.125,1.045-.18.226-.035.449-.081.678-.109.035,0,.069-.013.1-.016a15.251,15.251,0,0,0-2.194-4.4l6.556-6.5h6.588a1.289,1.289,0,1,0,0-2.579h-7.13a1.3,1.3,0,0,0-.919.378L63.781,42.54A15.492,15.492,0,1,0,51.6,68.83C51.6,68.8,51.6,68.765,51.594,68.73Z"
                      fill="#fff"
                    />
                    <path
                      id="Path_18"
                      data-name="Path 18"
                      d="M191,321.9a15.433,15.433,0,0,0,.118,1.809c.007.055.018.109.025.165.071-.007.145-.008.219-.015.229-.024.456-.061.683-.1.269-.04.537-.083.8-.137.226-.047.449-.1.671-.16.257-.065.513-.133.768-.211.219-.068.439-.144.65-.218.246-.088.49-.179.731-.28.212-.088.419-.183.626-.28q.35-.163.691-.345c.2-.109.4-.218.6-.334.071-.042.141-.089.213-.133h-6.786C191.008,321.746,191,321.823,191,321.9Z"
                      transform="translate(-136.912 -255.095)"
                      fill="#fff"
                    />
                    <path
                      id="Path_19"
                      data-name="Path 19"
                      d="M107.187,182.32a.534.534,0,0,0,.007.1,18.255,18.255,0,0,1,.11,1.924,17.523,17.523,0,0,1-.09,1.755c-.019.2-.058.385-.083.579-.05.38-.1.762-.174,1.132-.045.226-.11.445-.163.668-.08.326-.157.664-.256.989-.07.234-.158.46-.238.691-.11.3-.21.606-.329.9-.1.233-.205.458-.31.685-.131.282-.26.564-.4.839-.118.225-.248.444-.376.664-.154.263-.307.526-.473.78-.14.218-.29.425-.439.634-.174.245-.351.487-.536.724-.161.2-.329.4-.5.6q-.292.339-.6.666c-.174.183-.353.362-.534.544-.022.023-.043.044-.067.065-.2.189-.4.374-.608.556s-.392.337-.593.5c-.235.189-.475.37-.718.544-.21.152-.42.3-.636.446-.252.168-.511.326-.768.481-.219.132-.439.263-.669.386-.272.147-.548.281-.831.413-.229.109-.457.218-.693.321-.291.124-.589.232-.888.341-.236.086-.469.176-.71.252-.314.1-.635.181-.956.263-.236.061-.467.128-.706.18-.346.075-.7.126-1.051.181-.219.035-.439.079-.669.109-.036,0-.07.013-.11.016a15.169,15.169,0,0,0,1.335,3.047l-6.517,6.463H79.35a1.289,1.289,0,1,0,0,2.579h7.13a1.3,1.3,0,0,0,.919-.378l6.551-6.5a15.506,15.506,0,1,0,13.237-25.142Z"
                      transform="translate(-36.351 -130.907)"
                      fill="#fff"
                    />
                    <path
                      id="Path_20"
                      data-name="Path 20"
                      d="M201.612,289.507c.162-.156.329-.312.48-.474.178-.185.347-.379.514-.571.147-.169.294-.337.432-.511.011-.013.02-.027.03-.04h-10.41c-.031.115-.061.23-.089.345-.047.193-.1.382-.143.577-.065.321-.11.653-.15.979a.427.427,0,0,1-.008.052h8.958C201.358,289.744,201.486,289.628,201.612,289.507Z"
                      transform="translate(-138.043 -225.009)"
                      fill="#fff"
                    />
                    <path
                      id="Path_21"
                      data-name="Path 21"
                      d="M230.765,221.889c.047-.193.1-.382.143-.578.057-.283.092-.573.133-.862h-9.117c-.067.062-.135.122-.2.185-.162.157-.329.312-.48.475-.178.185-.347.378-.514.571-.147.169-.294.337-.432.511-.054.067-.1.139-.155.208h10.492C230.679,222.232,230.722,222.061,230.765,221.889Z"
                      transform="translate(-162.856 -164.889)"
                      fill="#fff"
                    />
                    <path
                      id="Path_22"
                      data-name="Path 22"
                      d="M79.35,410.48a1.289,1.289,0,1,0,0,2.579h6.333a1.289,1.289,0,1,0,0-2.579Z"
                      transform="translate(-36.351 -334.242)"
                      fill="#fff"
                    />
                    <path
                      id="Path_23"
                      data-name="Path 23"
                      d="M352.723,76H346.39a1.289,1.289,0,1,0,0,2.579h6.333a1.289,1.289,0,1,0,0-2.579Z"
                      transform="translate(-274.1 -36.156)"
                      fill="#fff"
                    />
                  </g>
                </svg>
                <h2 class="mb-0">235</h2>
              </div>
              <h4 class="f-500 mt-3 mb-0">
                <router-link
                  :to="{ name: 'project.list.page' }"
                  href="list.php"
                  class="color-white"
                  >Total Project that have been analysed and evaluated
                </router-link>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>


<script>
import { SET_HOME_INFORMATION_TAB_NAME } from "@/store/mutations.type";
import RwInformationModal from "@/modals/Info.vue";
export default {
  components: { RwInformationModal },
  methods: {
    openInformationModal(val) {
      this.$store.commit(SET_HOME_INFORMATION_TAB_NAME, val);
      // eslint-disable-next-line no-undef
      $("#popbox").modal("show");
    }
  }
};
</script>
