<template>
  <div
    class="modal fade bd-example-modal-lg"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
    :id="modalId"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <slot name="body"> </slot>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  props: {
    modalId: {
      default: "modal",
      require: true,
      type: String
    }
  }
};
</script>
