<template>
  <section class="section-padding pb-5 bg-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>{{ title }}</h2>
          <p>
            {{ desc }}
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    title: {
      default: "Header Title Here",
      type: String,
      required: true
    },
    desc: {
      default: "Description Here Here",
      type: String,
      required: true
    }
  }
};
</script>
