<template>
  <section class="section-padding bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Browse by Sectors</h2>
        </div>
        <div class="col-md-6">
          <p>
            With a focus on credible practices, we advance scalable and
            effective solutions that make a lasting impact..
          </p>
        </div>
        <div class="col-12">
          <TwSlick></TwSlick>
        </div>
        <div class="col-md-6 mt-5 mx-auto">
          <img src="img/sure-logo.png" alt="" class="float-right" />
          For more information please refer to below link for better analysis.
          <br />
          <strong>
            <small>
              <a href=""> SuRe® Website </a>
            </small>
          </strong>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import TwSlick from "@/components/Slick.vue";
export default {
  components: {
    TwSlick
  }
};
</script>
