<template>
  <div class="sector mt-3" id="sector">
    <div class="image image-1-1">
      <figure>
        <a href="">
          <img
            src="https://images.pexels.com/photos/4221070/pexels-photo-4221070.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt=""
          />
        </a>
        <figcaption>Power & energy</figcaption>
      </figure>
    </div>
    <div class="image image-1-1">
      <figure>
        <a href="">
          <img
            src="https://images.pexels.com/photos/207247/pexels-photo-207247.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt=""
          />
        </a>
        <figcaption>Food & Agriculture</figcaption>
      </figure>
    </div>
    <div class="image image-1-1">
      <figure>
        <a href="">
          <img
            src="https://images.pexels.com/photos/719396/pexels-photo-719396.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt=""
          />
        </a>
        <figcaption>Water & Sanitation</figcaption>
      </figure>
    </div>
    <div class="image image-1-1">
      <figure>
        <a href="">
          <img
            src="https://images.pexels.com/photos/918283/pexels-photo-918283.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt=""
          />
        </a>
        <figcaption>Communication & Technology</figcaption>
      </figure>
    </div>
    <div class="image image-1-1">
      <figure>
        <a href="">
          <img
            src="https://images.pexels.com/photos/5845554/pexels-photo-5845554.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt=""
          />
        </a>
        <figcaption>
          Commercial <br />
          Infrastructure
        </figcaption>
      </figure>
    </div>
    <div class="image image-1-1">
      <figure>
        <a href="">
          <img
            src="https://images.pexels.com/photos/2887579/pexels-photo-2887579.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt=""
          />
        </a>
        <figcaption>Tourism</figcaption>
      </figure>
    </div>
    <div class="image image-1-1">
      <figure>
        <a href="">
          <img
            src="https://images.pexels.com/photos/3671142/pexels-photo-3671142.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt=""
          />
        </a>
        <figcaption>Transportation</figcaption>
      </figure>
    </div>
  </div>
</template>

<script>
require("../../public/js/slick.min.js");
export default {
  data() {
    return {
      options: {
        dots: false,
        infinite: true,
        speed: 300,
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 4000,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
              infinite: true,
              dots: true
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2,
              dots: true,
              arrows: false
            }
          }
        ]
      }
    };
  },
  mounted() {
    $("#sector").slick(this.options);
  }
};
</script>
