<template>
  <footer>
    <div class="top-footer section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h5 class="mb-3">Supported By</h5>
            <div class="d-flex justify-content-between pr-3">
              <img src="img/iseal-logo.png" alt="" class="w-50" />
              <img src="img/gib-logo.png" alt="" class="w-50" />
            </div>
          </div>
          <div class="col-md-3">
            <h5 class="mb-3">Sure Standard</h5>
            <div class="d-md-flex justify-content-between">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href=""> Contact us </a>
                </li>
                <li>
                  <a href=""> Projects</a>
                </li>
                <li>
                  <a href=""> Impact Areas</a>
                </li>
                <li></li>
              </ul>

              <ul class="list-unstyled">
                <li>
                  <a href=""> Terms of use</a>
                </li>
                <li>
                  <a href=""> Privacy policy</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <h5 class="mb-3">Contact Information</h5>
            <strong>Global Infrastructure Basel Foundation (GIB)</strong>
            <br /><br />
            Elisabethenstr. 22 <br />
            4051 Basel <br />
            Switzerland
          </div>
          <div class="col-md-3 social-link">
            <h5 class="mb-3">Connect with us</h5>
            <a href="mailto:info@gib-foundation.org" class="email">
              info@gib-foundation.org</a
            >
            <br />
            <p>+41 61 205 10 80</p>
            <br />
            <a href="">
              <i class="icon-facebook icon-32"></i>
            </a>
            <a href="">
              <i class="icon-twitter icon-32"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="down-footer py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            &copy;Global Infrastructure Basel Foundation, 2021
          </div>
          <div class="col-md-4">
            Powered By
            <a href="http://www.ptas.com.np/" target="_blank" class="email">
              Pathway Technologies</a
            >
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

