<template>
  <div>
    <BreadCrumbWithBanner></BreadCrumbWithBanner>
  </div>
</template>

<script>
import BreadCrumbWithBanner from "@/components/BreadCrumbWithBanner.vue";
export default {
  components: {
    BreadCrumbWithBanner
  }
};
</script>
