<template>
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="pr-md-5 pr-0">
            <h3>What We Do?</h3>
            GIB offers consulting, training and sustainability assessment,
            validation and certification to SuRe®, to help you improve project
            design, stakeholder buy-in and attract better finance. GIB will
            assist you to align your infrastructure portfolio with
            sustainability and resilience best practice, thereby reducing future
            risks, pre-empting regulation and improving positive impact. We also
            offer training seminars to up-skill your
            <br /><br />
            team in a range of sustainable infrastructure topics. GIB provides
            capacity building and consulting to government agencies seeking to
            improve infrastructure project design to meet
          </div>
        </div>
        <div class="col-md-6">
          <div class="image image-3-2">
            <figure>
              <a href="">
                <img
                  src="https://images.pexels.com/photos/3002078/pexels-photo-3002078.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                  alt=""
                />
              </a>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
