<template>
  <div>
    <BreadCrumbWithBanner
      :title="breadBrumb.title"
      :description="breadBrumb.description"
    ></BreadCrumbWithBanner>
  </div>
</template>

<script>
import BreadCrumbWithBanner from "@/components/BreadCrumbWithBanner.vue";
export default {
  data() {
    return {
      breadBrumb: {
        title: "About Us",
        description:
          "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae deserunt itaque repellat eveniet esse, doloremque corrupti"
      }
    };
  },
  components: {
    BreadCrumbWithBanner
  }
};
</script>
