<template>
  <MvModal :modal-id="'login_modal_kw'">
    <template v-slot:body>
      <div class="row no-gutters">
        <div class="col-md-6 d-none d-sm-block">
          <div class="box-lt">
            <div class="image image-q">
              <figure>
                <a href="">
                  <img src="img/login-bg.jpg" alt="" />
                </a>
                <figcaption>
                  <h1 class="mb-4">Welcome</h1>
                  <p>
                    SDG 9 recognizes the critical need to build resilient and
                    sustainable infrastructure. A record high investment of ..
                  </p>

                  <a
                    class="btn btn-outline-light w-100 large relative"
                    href="javascript:void();"
                    @click="globalOpenSignupModal"
                  >
                    Create a account
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-rt login">
            <h2 class="mb-4 color-theme">Login</h2>
            <form>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control large"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Username"
                />
              </div>
              <div class="form-group mb-1">
                <input
                  type="password"
                  class="form-control large"
                  id="exampleInputPassword1"
                  placeholder="Password"
                />
              </div>
              <p class="text-right">
                <small> <a href=""> Forgot Password </a></small>
              </p>
              <div class="form-group">
                <div class="row mb-3 no-gutters">
                  <div class="col-sm-5 d-flex align-items-center">
                    <span
                      ><a id="captcha_reload" href="#"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="18"
                          height="18.023"
                          viewBox="0 0 18 18.023"
                        >
                          <path
                            data-name="Icon open-reload"
                            d="M9.011,0a9.011,9.011,0,1,0,6.4,15.409l-1.622-1.622a6.763,6.763,0,1,1-4.8-11.534A6.554,6.554,0,0,1,13.7,4.3L11.242,6.758H18V0L15.319,2.681A8.961,8.961,0,0,0,8.989,0Z"
                          />
                        </svg> </a
                    ></span>
                    <img src="captcha.php" id="captcha_image" class="pl-2" />
                  </div>
                  <div class="col-sm-7">
                    <input
                      type="text"
                      class="form-control large"
                      required
                      id="captcha"
                      name="captcha"
                      placeholder="Enter captcha"
                    />
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-yellow w-100 large">
                Login
              </button>
            </form>
          </div>
        </div>
      </div>
    </template>
  </MvModal>
</template>


<script>
import MvModal from "@/components/Modal.vue";
export default {
  components: {
    MvModal
  }
};
</script>
