<template>
  <MvModal :modal-id="'signup_modal_kw'">
    <template v-slot:body>
      <div class="row no-gutters">
        <div class="col-md-6 d-none d-sm-block">
          <div class="box-lt">
            <div class="image image-z">
              <figure>
                <a href="">
                  <img src="img/signup-bg.jpg" alt="" />
                </a>
                <figcaption>
                  <h1 class="mb-4">Create a Account</h1>
                  <p>
                    SDG 9 recognizes the critical need to build resilient and
                    sustainable infrastructure. A record high investment of ..
                  </p>
                  <p>
                    <a href="" style="position: relative" class="link-yellow"
                      >Why you need subscribe ?</a
                    >
                  </p>
                  <a
                    class="
                      btn btn-outline-light
                      w-100
                      large
                      relative
                      color-white
                    "
                    href="javascript:void();"
                    @click="globalOpenLoginModal"
                  >
                    Login
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-rt">
            <form>
              <div class="form-group">
                <select
                  class="form-control large"
                  id="exampleFormControlSelect1"
                >
                  <option>What is your Designation ?</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                <strong class="color-dark"
                  >Which organization do you represent ?</strong
                >
                <div class="d-flex justify-content-between">
                  <div class="form-check d-flex">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleRadios"
                      id="exampleRadios1"
                      value="option1"
                      checked
                    />
                    <label class="form-check-label" for="exampleRadios1">
                      Individual
                    </label>
                  </div>
                  <div class="form-check d-flex">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleRadios"
                      id="exampleRadios2"
                      value="option2"
                    />
                    <label class="form-check-label" for="exampleRadios2">
                      Private
                    </label>
                  </div>
                  <div class="form-check d-flex">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleRadios"
                      id="exampleRadios2"
                      value="option3"
                    />
                    <label class="form-check-label" for="exampleRadios2">
                      Government
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <select
                  class="form-control large"
                  id="exampleFormControlSelect1"
                >
                  <option>Where are you from ?</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control large"
                  id="exampleInputPassword1"
                  placeholder="@Email"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control large"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Username"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control large"
                  id="exampleInputPassword1"
                  placeholder="Password"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control large"
                  id="exampleInputPassword2"
                  placeholder="Confirm Password"
                />
              </div>
              <button type="submit" class="btn btn-yellow w-100 large">
                Register
              </button>
            </form>
          </div>
        </div>
      </div>
    </template>
  </MvModal>
</template>
<script>
import MvModal from "@/components/Modal.vue";
export default {
  components: {
    MvModal
  }
};
</script>
