<template>
  <div id="app">
    <RwvHeader />
    <router-view></router-view>
    <RwvFooter />
    <!-- Back to top button -->
    <a id="button" @click="scrollToTop()"></a>
  </div>
</template>

<script>
import RwvHeader from "@/components/TheHeader";
import RwvFooter from "@/components/TheFooter";

export default {
  name: "App",
  watch: {
    $route() {
      this.scrollToTop();
    }
  },
  components: {
    RwvHeader,
    RwvFooter
  },
  methods: {
    scrollToTop() {
      window.scrollTo(0, 0);
    }
  }
};
</script>

<style></style>
