<template>
  <div class="px-md-2">
    <span>
      <i class="icon-48" :class="icon + ' color-' + color"></i>
    </span>
    <h3 :class="'color-' + color">{{ count }}</h3>
    <p class="f-small line-height-20">{{ desc }}</p>
  </div>
</template>

<script>
export default {
  props: {
    desc: {
      type: String,
      default: "Description Here"
    },
    color: {
      type: String,
      default: "red"
    },
    icon: {
      type: String,
      default: "icon-not-suitable"
    },
    count: {
      type: Number,
      default: 0
    }
  }
};
</script>
