<template>
  <section class="section-padding-bottom map-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Map of assessed infrastructure project</h2>
        </div>
        <div class="col-md-6">
          <div class="d-flex justify-content-between wrap">
            <InMapCountBox
              v-for="(item, index) in data"
              :key="index"
              :desc="item.desc"
              :count="item.count"
              :icon="item.icon"
              :color="item.color"
            ></InMapCountBox>
          </div>
        </div>
        <div class="col-12 mt-2">
          <InMap></InMap>
          <div class="indicator bg-light text-center" style="padding: 2px">
            <i class="icon-map icon-12 color-orange"></i
            ><span class="f-smaller pr-2">
              Some sustainability risks detected</span
            >
            <i class="icon-map icon-12 color-green"></i
            ><span class="f-smaller pr-2"> Likely to be sustainable</span>
            <i class="icon-map icon-12 color-red"></i
            ><span class="f-smaller pr-2"> Unlikely to be sustainable</span>
            <i class="icon-map icon-12"></i
            ><span class="f-smaller pr-2"
              >Insufficient transparency of sustainability data</span
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import InMapCountBox from "@/components/Map/CountBox.vue";
import InMap from "@/components/Map/Map.vue";
export default {
  components: {
    InMapCountBox,
    InMap
  },
  data() {
    return {
      data: [
        {
          icon: "icon-onprogress",
          color: "orange",
          desc: "Some sustainability risks detected",
          count: 243
        },
        {
          icon: "icon-suitable",
          color: "green",
          desc: "Likely to be sustainable",
          count: 354
        },
        {
          icon: "icon-not-suitable",
          color: "red",
          desc: "Unlikely to be sustainable",
          count: 34
        }
      ]
    };
  }
};
</script>
