<template>
  <section class="section-padding pb-5 bg-header-tech">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>{{ title }}</h2>
          <p>
            {{ description }}
          </p>
        </div>
      </div>
    </div>
  </section>
</template>


<script>
export default {};
</script>
