<template>
  <header>
    <MvLoginModal></MvLoginModal>
    <MvSignupModal></MvSignupModal>
    <div class="container">
      <div class="row">
        <div class="col">
          <nav class="navbar navbar-expand-lg px-0">
            <a class="navbar-brand" href="/"
              ><img src="img/logo.png" alt="" class="logo"
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="27"
                height="15.75"
                viewBox="0 0 27 15.75"
              >
                <g
                  id="Icon_ionic-ios-menu"
                  data-name="Icon ionic-ios-menu"
                  transform="translate(-4.5 -10.125)"
                >
                  <path
                    id="Path_71"
                    data-name="Path 71"
                    d="M30.375,12.375H5.625A1.128,1.128,0,0,1,4.5,11.25h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,11.25h0A1.128,1.128,0,0,1,30.375,12.375Z"
                    fill="#204998"
                  />
                  <path
                    id="Path_72"
                    data-name="Path 72"
                    d="M30.375,19.125H5.625A1.128,1.128,0,0,1,4.5,18h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,18h0A1.128,1.128,0,0,1,30.375,19.125Z"
                    fill="#204998"
                  />
                  <path
                    id="Path_73"
                    data-name="Path 73"
                    d="M30.375,25.875H5.625A1.128,1.128,0,0,1,4.5,24.75h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,24.75h0A1.128,1.128,0,0,1,30.375,25.875Z"
                    fill="#204998"
                  />
                </g>
              </svg>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <router-link
                    :to="{ name: 'page.about.us' }"
                    class="nav-link active"
                    aria-current="page"
                    href="staticpage.php"
                    >About Project</router-link
                  >
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Overview
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Gallery</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact Us</a>
                </li>
              </ul>
              <div class="d-flex justify-content-end mod-mob">
                <button
                  class="btn btn-primary mr-2"
                  @click="globalOpenSignupModal()"
                >
                  Register
                </button>
                <button
                  class="btn btn-outline-primary"
                  @click="globalOpenLoginModal()"
                >
                  Login
                </button>
              </div>
              <div
                class="user-wrap d-none align-items-center justify-content-end"
              >
                <div class="user-image circle">
                  <figure>
                    <a href="">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4vHwf_WqQW7lAjOAsNDwrzeJer1Bg863H1Q&usqp=CAU"
                        alt=""
                      />
                      <img
                        src="https://cdn0.iconfinder.com/data/icons/elasto-online-store/26/00-ELASTOFONT-STORE-READY_user-512.png"
                        alt=""
                        class="no-image d-none"
                      />
                    </a>
                  </figure>
                </div>
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="navbarDropdown"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <small> Max David </small>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Change Password</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Signout</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
</template>
<script>
import MvLoginModal from "@/modals/Auth/Login";
import MvSignupModal from "@/modals/Auth/Signup";
export default {
  components: {
    MvLoginModal,
    MvSignupModal
  },
  mounted() {},
  methods: {}
};
</script>
